/*common colours*/

$trans-white: rgba(255,255,255, 0.5);
$white: rgb(255,255,255);
$gradientDarkGreen: #00864f;
$gradientMidGreen: #5abd19;

$trans-light-grey: rgba(20, 20, 20, .2);
$dark-grey: rgb(39, 38, 38);
$mid-grey: rgb(51, 51, 51);