<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Shared Spaces</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=900">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">

        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/shared-spaces/img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/shared-spaces/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/shared-spaces/img/apple-touch-icon-57x57.png">
       
        <link rel="apple-touch-startup-image" href="/shared-spaces/img/apple-touch-icon-114x114.png">

        <link rel="shortcut icon" href="/shared-spaces/img/favicon.ico?v=2">

        <link rel="stylesheet" href="/shared-spaces/css/normalize.css?v={{ build_version }}">
        <link rel="stylesheet" href="/shared-spaces/css/ss.css?v={{ build_version }}">
        
        <script src="/shared-spaces/js/modernizr-2.6.2.min.js"></script>
        <style>

        .masthead-inner h2 {
            font-size: 0.5em;
            color: #3300ff;
        }
        </style>
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <script type="text/javascript">

            var pendingMembers = {% if invitees != none %}{
                "members": [
                    {% for member in invitees %}
                    {
                         "id": "{% if member.get('id') != none %}{{ member.get('id') }}{% else %}{{ member.get('email') }}{% endif %}",
                        "name":"{% if member.get('name') != none %}{{ member.get('name') }}{% else %}Name unavailable{% endif %}",
                        "email":"{% if member.get('email') != none %}{{ member.get('email') }}{% else %}Email unavailable{% endif %}",
                        "phone":"",
                        "registered": false,
                        "amount": {% if member.get('amount') != none %}{{ member.get('amount') }}{% else %}0{% endif %}
                    }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            }{% else %}null{% endif %};

        </script>
        <script src="/shared-spaces/js/jquery-1.10.1.min.js"></script>
        <script src="/shared-spaces/js/ss.js?v={{ build_version }}"></script>
        
    </body>
</html>
