.alchemy-button {

  font-weight: normal;
  font-size: .95em;
  text-align: center;

  color:#fff;
  border:none;
  border-radius: 0px;

  background-color: #b19f00;
  background-image: -webkit-linear-gradient(top, #998900 0, #b19f00 100%);
  background-image: linear-gradient(to bottom, #998900 0, #b19f00 100%);

  padding:4px;

}

.alchemy-blue-button {

  font-weight: normal;
  font-size: .95em;
  text-align: center;

  color:#fff;
  border:none;
  border-radius: 0px;

  background-color: #a5a5a5;
  background-image: -webkit-linear-gradient(top, #a5a5a5 0, #7e7e7e 100%);
  background-image: linear-gradient(to bottom, #a5a5a5 0, #7e7e7e 100%);

  padding:4px;

}

#wrapper #outer, #wrapper #pageWrap {
  width: 990px !important;
}

#lnkCustomerLogoff {

  background-color: #a5a5a5;
  background-image: -webkit-linear-gradient(top, #a5a5a5 0, #7e7e7e 100%);
  background-image: linear-gradient(to bottom, #a5a5a5 0, #7e7e7e 100%);

  margin: 0 0 0 20px !important;
  padding: 8px !important;
  text-align: center;
  height: auto !important;

}

#page, .outer {
  max-width: 800px;
}

#header {

  background-color: #bba700;
  background-image: -webkit-linear-gradient(left, #f3d900 0, #bba700 100%);
  background-image: linear-gradient(to right, #f3d900 0, #bba700 100%);

  border: 1px solid #cecece !important;
  border-radius: 0;

  height: 125px;
}

.content h1, .content h1 a, .content h1 {
   color: #9c8b00 !important; 
}

h2, h2 a, .content h2 {
   color: #9c8b00 !important; 
}

h3, h3 a, .content h3 {
   color: #9c8b00 !important; 
}

#header p#logo {
  height: auto;
  line-height: auto;
  width: auto;
  margin-left: 30px;
}

#header p#logo h1 {
  font-size: 30px;
  line-height: auto;
}

#header .loggedIn {
  margin-top: 40px;
  margin-right: 25px;
}

.abcd, .ommIcon, .accountMsg, .transferSlideOuter, .lastLogin {
  display: none;
}

.primary .panel, .secondary .panel, .secondary .subPanel {
  border: 1px solid #cecece !important;
  border-radius: 0;
  box-shadow: none;
}

.content .primaryWrap {
  background-color: #000;
  margin: 0 0 0 0 !important;
}

.content .secondary, .accountActions {
  display: none;
}

.accountMarketingWrapper {

}



