.alchemy-button {

  font-weight: normal;
  font-size: .95em;
  text-align: center;

  background:#9cd975;
  color:#fff;
  border:1px solid #6db040;
  border-radius: 5px;

  box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -ms-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -o-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4); 

  text-shadow:2px 0px 4px #289901;
  padding:2px 0px 2px 0px;

}

.alchemy-blue-button {

  font-weight: normal;
  font-size: .95em;

  background:#5c5cad;
  color:#fff;
  border:1px solid #333397;
  border-radius: 5px;

  box-shadow:inset 0px -10px 1px rgba(51,51,153,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow:inset 0px -10px 1px rgba(51,51,153,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -10px 1px rgba(51,51,153,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -ms-box-shadow:inset 0px -10px 1px rgba(51,51,153,0.8), 0px 2px 4px rgba(0,0,0,0.4);
  -o-box-shadow:inset 0px -10px 1px rgba(51,51,153,0.8), 0px 2px 4px rgba(0,0,0,0.4); 

  text-shadow:2px 0px 4px #2a2a94;
  padding:2px 0px 2px 0px;

}