#main-loader-logo {

  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 70px;
  width: 200px;

}

#main-loader-spinner {

  margin-left: auto ;
  margin-right: auto ;

  width: 40px;
  height: 40px;

}

.accountMarketingWrapper {
  
  text-align: right;

}

.accountMarketingWrapper .alchemy-blue-button,.accountMarketingWrapper .alchemy-button {
  
  margin-right: 16px;
  margin-top: 23px;
  min-width: 100px;

}

.alchemy-button {

  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0;
  cursor:pointer;

}

.alchemy-blue-button {

  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0;
  cursor:pointer;

}