@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(http://themes.googleusercontent.com/static/fonts/nunito/v4/1TiHc9yag0wq3lDO9cw0vrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url(http://themes.googleusercontent.com/static/fonts/nunito/v4/1D_AI14T6X7H5aa5BXWWyuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito-Bold'), url(http://themes.googleusercontent.com/static/fonts/nunito/v4/TttUCfJ272GBgSKaOaD7KrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body, input {
    font-family: 'Nunito', Arial;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 300;
    font-style: normal;
    color: #333333;
}

/**

  ALCHEMY GLOBAL

*/

a {
  color: #848484;
}

a:hover {
  color: #9c8b00;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  font-style: normal;
}

.alchemy a .text-button {
  font-size: .8em;  
  color: #666666;
}

.alchemy a:hover .text-button {
  color: #000000;
}

.alchemy .button {
  
  font-weight: normal;
  font-size: .75em;
  color: #fff;
  border-radius: 4px;
  padding: 9px 15px 8px 15px;
  -webkit-box-shadow:  0px 1px 3px 1px rgba(0, 0, 0, .1);
  box-shadow:  0px 1px 3px 1px rgba(0, 0, 0, .1);  
  
}

.alchemy a .button {
  color: #fff;
}

.alchemy a .button-blue {
  background-color: #a5a5a5;
  background-image: -webkit-linear-gradient(top, #a5a5a5 0, #7e7e7e 100%);
  background-image: linear-gradient(to bottom, #a5a5a5 0, #7e7e7e 100%);

}
.alchemy a .button-blue:hover {
  background-color: #6a5bd2;
  background-image: -webkit-linear-gradient(top, #7e7e7e 0, #a5a5a5 100%);
  background-image: linear-gradient(to bottom, #7e7e7e 0, #a5a5a5 100%);
}

.alchemy a .button-green {
  background-color: #b19f00;
  background-image: -webkit-linear-gradient(top, #998900 0, #b19f00 100%);
  background-image: linear-gradient(to bottom, #998900 0, #b19f00 100%);

}
.alchemy a .button-green:hover {
  background-color: #998900;
  background-image: -webkit-linear-gradient(top, #b19f00 0, #998900 100%);
  background-image: linear-gradient(to bottom, #b19f00 0, #998900 100%);
}

.alchemy a .button-dark {
  color: #fff;
  background-color: #6b6b6b;
  background-image: -webkit-linear-gradient(top, #6b6b6b 0, #434343 100%);
  background-image: linear-gradient(to bottom, #6b6b6b 0, #434343 100%);
}

.alchemy a .button-dark:hover {
  background-color: #434343;
  background-image: -webkit-linear-gradient(top, #434343 0, #6b6b6b 100%);
  background-image: linear-gradient(to bottom, #434343 0, #6b6b6b 100%);
}

.alchemy a .button-dark-selected {
  color: #666666;
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc 0, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0, #f5f5f5 100%);
}


.alchemy a .button-dark-selected:hover {
  color: #000000; 
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #fcfcfc 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0, #fcfcfc 100%);
}


.alchemy a .button-light {
  color: #666666;
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc 0, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0, #f5f5f5 100%);
}

.alchemy a .button-light:hover {
  color: #000000; 
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #fcfcfc 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0, #fcfcfc 100%);
}

.alchemy input:hover {
  background-color: #eaeaea;  
}

.alchemy .green-text {
  color: #717171;
}

.alchemy .bright-green-text {
  color: #998900;
}

.alchemy .light-grey-text {
  color: #999999;
}

.alchemy .light-grey-bg {
  background-color: #f8f8f8;
}

.alchemy .red-text {
  color: #bb0000;
}

.alchemy .dark-grey-text {
  color: #626262;
}

/**

  HEADER

*/

.alchemy header .header-inner-right h3 {
  color: #666666;
  font-size: 1em;
}

.alchemy .admin-badge {
  font-size: .75em;
  color: #999999;
  padding: 2px 8px 2px 8px;
  border-radius: 11px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
}

/**

  SUBHEAD

*/
.alchemy .subhead {

  background-color: #fff;
  background: rgb(214,214,214); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(214,214,214,1) 0%, rgba(238,238,238,1) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, top, bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(2%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* W3C */

}

.alchemy .subhead-inner-x .menu .item {
 
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.02) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.02))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 100%); /* W3C */

}

.alchemy .subhead-inner-x .menu .selected a {
  color: #998900;

  background: -moz-linear-gradient(left,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 */

}

.alchemy .subhead-inner-x .menu a:hover {

  padding: 14px 19px 14px 19px;
  border: 1px solid #d9d9d9;

  background: -moz-linear-gradient(left,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 */

}

.alchemy .subhead-inner-x .menu a .numofmembers {
  font-size: .9em;
  color: #999999;
  margin-top: 2px;
  padding: 4px 11px 3px 11px;
  border-radius: 21px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
}

.alchemy .subhead-inner-x .menu a:hover .numofmembers {
  color: #000;
}

.alchemy .subhead-inner-x .menu .amount {
  font-size: .9em;
  color: #999999;
}

.alchemy .subhead-inner-x .menu a:hover .amount {
  color: #000;
}

.alchemy .subhead-inner-x .profile .item {
  font-size: .8em;
}

.alchemy .subhead-inner-x .profile .item .title {
  font-weight: bold;
}

.alchemy .subhead-inner-x .profile .item input {
  background-color: #fff;
  font-size: 1.1em;
}

/**

  MASTHEAD

*/
.alchemy .masthead {
  
  background-color: #f3d900;
  background-image: -webkit-linear-gradient(left, #bba700 0, #f3d900 100%);
  background-image: linear-gradient(to right, #bba700 0, #f3d900 100%);
  color: #fff;

  padding-top: 30px;
  padding-bottom: 30px;

  min-height: 85px;

}

.alchemy .masthead input,.alchemy .masthead h2 {

  color: #fff;

  font-size: 2.8em;
  margin-left: -18px;
  line-height: 1.2em;
  margin-bottom: 0px;
  margin-top: 0px;

  width: 60%;

  border: 0px solid #3bd647;
  padding: 13px 16px 11px 16px;

  background: transparent;

}

.alchemy .masthead input:hover {
  
  border: 1px solid #3bd647;
  padding: 12px 15px 10px 15px;

  background: transparent url('../img/icon-edit-title.png') no-repeat top right;
  background-size: 18px 18px;

}

/**

  FOOTER

*/
.alchemy .footer-inner .right-border { 
  border-right: 1px solid #e1e1e1;
}

/**

  CONTENT

*/
.alchemy .content-inner h3 {
  color: #9c8b00;
  font-size: 1.6em;
}


.alchemy .content-inner .balance-wrapper {
  color: #acacac;
  font-size: 1.2em;
}

.alchemy .content-inner input, .alchemy .subhead-inner input {

  height: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  font-size: .9em;
  background-color: #f9f9f9;


-webkit-box-shadow: inset 0px 1px 1px 1px rgba(153, 153, 153, .1);
        box-shadow: inset 0px 1px 1px 1px rgba(153, 153, 153, .1);

}

.alchemy .content-inner p {
  font-size: .8em;
  line-height: 1.7em;
}

/**

  CONTENT / SMALL FORM WRAPPER (used for signup and login)

*/

.alchemy .content-inner .small-form-wrapper .field-title {
  font-weight: bold;
  color: #333333;
  font-size: .8em;
  line-height: 1.7em;
}

.alchemy .content-inner .small-form-wrapper .checkbox div {
  font-size: .8em;
  line-height: 1.7em;
}

.alchemy .content-inner .small-form-wrapper .example {
  font-size: .8em;
}

.alchemy .content-inner .content-inner-panel .small-form-wrapper input {
  background-color: #fff;
}

.alchemy .content-inner .small-form-wrapper .submit-paynow,.alchemy .content-inner .small-form-wrapper .submit-paylater {
  font-size: .9em;
}

/**

  CONTENT / Overview table

*/
.alchemy .content-inner .c2 .request-payment-field {

  font-size: 1em;
  color: #626262;
  line-height: 1.2em;
  border: 0px solid #3bd647;

}

.alchemy .content-inner .c2 .request-payment-field:hover {
  
  border: 1px solid #3bd647;
  padding: 4px 4px 4px 4px;
  background: #fff;
  color: #000;

}

.alchemy .content-inner .paynow-promt {
  font-size: .9em;
}

/**

  CONTENT / PAY MODULE

*/

.alchemy .content-inner .pay-module {
  font-weight: bold;
  font-size: .8em;
}

.alchemy .content-inner .pay-module .pay-text {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  color: #626262;
}

.alchemy .content-inner .pay-module .pay-note {
  font-style: normal;
  font-weight: 300;
  font-size: .9em;
  color: #626262;
}


.alchemy .content-inner .pay-module input {
  font-size: 1.1em;
}

.alchemy .content-inner .pay-module .pay_amount .txt {
  font-size: 1.1em;
  font-weight: normal;
}

.alchemy .content-inner .pay-module .pay_amount input {
  font-size: 1.1em;
  font-weight: bold;
}


/**

  CONTENT / Invite Members

*/

.alchemy .content-inner .invite-members .actions .action-output  {
  font-weight: bold;
  font-size: .7em;
}

.alchemy .content-inner .invite-members .header  {
  font-size: .8em;
  font-weight: bold;
}


/**

  CONTENT / PANEL

*/

.alchemy .content-inner-panel {

  background-color: #fff;
  background: rgb(214,214,214); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(238,238,238,1) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(214,214,214,1)), color-stop(2%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(214,214,214,1) 0%,rgba(238,238,238,1) 2%,rgba(255,255,255,1) 100%); /* W3C */
}

/**

  PAGE LOADER

*/

.main-loader {

  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #d4d4d4 100%);
  background-image: linear-gradient(to bottom, #fff 0, #d4d4d4 100%);

}

#main-loader-spinner {

  width: 40px;
  height: 40px;

}