body, input {
    margin: 0;
    padding: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/**

  ALCHEMY GLOBAL

*/

a {
  text-decoration: none;
  -webkit-transition:color .3s ease-out, opacity .3s ease-out;  
  -moz-transition:color .3s ease-out, opacity .3s ease-out;  
  -o-transition:color .3s ease-out, opacity .3s ease-out;  
  transition:color .3s ease-out, opacity .3s ease-out;  
}

input {
  -webkit-transition:background-color .3s ease-out;  
  -moz-transition:background-color .3s ease-out;  
  -o-transition:background-color .3s ease-out;  
  transition:background-color .3s ease-out;  
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.alchemy a .text-button {

  text-decoration: none;
  -webkit-transition:color .3s ease-out, opacity .3s ease-out;  
  -moz-transition:color .3s ease-out, opacity .3s ease-out;  
  -o-transition:color .3s ease-out, opacity .3s ease-out;  
  transition:color .3s ease-out, opacity .3s ease-out;  
}

.alchemy a .text-button .icon {

  display: inline-block;

  margin-left: 5px;
  margin-top: -2px;

  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow:  0px 1px 3px 1px rgba(0, 0, 0, .1);
  box-shadow:  0px 1px 3px 1px rgba(0, 0, 0, .1);  

  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc 0, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0, #f5f5f5 100%);

}

.alchemy a .text-button .icon img {
  opacity: .5;
  -webkit-transition:color .3s ease-out, opacity .3s ease-out;  
  -moz-transition:color .3s ease-out, opacity .3s ease-out;  
  -o-transition:color .3s ease-out, opacity .3s ease-out;  
  transition:color .3s ease-out, opacity .3s ease-out;  
}

.alchemy a:hover .text-button .icon img {
  opacity: 1;
}

.alchemy .button {
  
  text-decoration: none;
  display: inline-block;
  min-width: 78px;

}

.alchemy a .button {
  text-decoration: none;
  text-align: center;
}

.alchemy a .button .icon {
  margin-right: 5px;
  display: inline-block;
}

.alchemy a .button-dark-selected .icon {
  opacity: .5;
  -webkit-filter: invert(100%); 
  -webkit-transition:color .3s ease-out, opacity .3s ease-out;  
  -moz-transition:color .3s ease-out, opacity .3s ease-out;  
  -o-transition:color .3s ease-out, opacity .3s ease-out;  
  transition:color .3s ease-out, opacity .3s ease-out;  
}

.alchemy a .button-dark-selected:hover .icon {
  opacity: .8;
}

.alchemy a .button-light .icon {
  opacity: .5;
  -webkit-transition:color .3s ease-out, opacity .3s ease-out;  
  -moz-transition:color .3s ease-out, opacity .3s ease-out;  
  -o-transition:color .3s ease-out, opacity .3s ease-out;  
  transition:color .3s ease-out, opacity .3s ease-out;  
}

.alchemy a .icon-button .icon {
  margin-right: 0px;
}

.alchemy a .icon-button {
  min-width: 0;
  padding: 8px 10px 8px 10px;
}

.alchemy a .button-light:hover .icon {
  opacity: .8;
}

.alchemy hr {
  clear: both;
  display: block;
  height: 1px;
  border: 0;
  background: url('../img/hr-dotted-bg.png');
  margin: 0;
  padding: 0;
}

.alchemy ul, .alchemy li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**

  HEADER

*/

.alchemy header {
  min-height: 70px;
}

.alchemy header .header-inner-left .logo {
  margin-top: -3px;
  margin-left: 0px;

  display: block;
  float: left;

}

.alchemy header .header-inner-left {
  display: block;
  float: left;
  margin-top: 25px;
}

.alchemy header .header-inner-right {
  display: block;
  float: right;
  display: none;
  margin-top: 19px;
}

.alchemy header .header-inner-right h3 {
  display: inline-block;
  float: right;
  padding-top: 7px;
  padding-right: 0px;
}


.alchemy header .admin-badge {
  margin-top: 7px;
  margin-left: 6px;
  float: right;
}

.alchemy .admin-badge {
  display: inline-block;
}

.alchemy header .header-inner-right .button {
  display: inline-block;
  float: right;
  margin-right: -2px;
  margin-left: 15px;
}

/**

  SUBHEAD

*/
.alchemy .subhead {

  height: 0px;
  display: none;
  overflow: hidden; 

}

.alchemy .subhead-inner-x {
  padding-top: 30px;
  padding-bottom: 30px;
}

.alchemy .subhead-inner-x .menu .item {
  margin-bottom: 1px;
}

.alchemy .subhead-inner-x .menu a {

  display: block;
  padding: 15px 20px 15px 20px;
  border:  none;

  background: transparent;

}

.alchemy .subhead-inner-x .menu a h2 {
  width: 60%;
  display: inline-block;
}

.alchemy .subhead-inner-x .menu a .numofmembers {
  display: block;
  float: right;
}

.alchemy .subhead-inner-x .menu .amount {
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 7px;
}

.alchemy .subhead-inner-x .profile {
  min-height: 370px;
}

.alchemy .subhead-inner-x .profile .c1 {
  float: left;
  clear: both;
  width: 30%;
}

.alchemy .subhead-inner-x .profile .c2 {
  float: left;
  margin-left: 3%;
  width: 30%;
}

.alchemy .subhead-inner-x .profile .c3 {
  float: right;
  width: 33%;
}

.alchemy .subhead-inner-x .profile .item .title {
  font-weight: bold;
  clear: both;
  margin-top: 15px;
}

.alchemy .subhead-inner-x .profile .c3 .title {
  margin-bottom: 5px;
}

.alchemy .subhead-inner-x .profile .item input {
  width: 90%;
  margin-top: 5px;
}

.alchemy .subhead-inner-x .profile .item input[name='input_pin'] {
  width:70px;
}

.alchemy .subhead-inner-x .profile .item input[name='input_card_expiry_mm_field'], .alchemy .subhead-inner-x .profile .item input[name='input_card_expiry_yy_field'] {
  width:30px;
}

.alchemy .subhead-inner-x .profile .item input[name='input_bank_account_number'],.alchemy .subhead-inner-x .profile .item input[name='input_mobile'], .alchemy .subhead-inner-x .profile .item input[name='input_bank_sort_code'] {
  width:150px;
}

.alchemy .subhead-inner-x .profile .min-height {
  min-height: 55px;
  display: block;
}

.alchemy .subhead-inner-x .profile .wrapper-btns {
  float: right;
  margin-top: -36px;
  clear: both;
  display: block;
}

.alchemy .subhead-inner-x .profile .wrapper-btns .button-green {
  margin-left: 15px;
}

/**

  MAIN CONTAINERS

*/

.alchemy .header-inner,.alchemy .subhead-inner,.alchemy .masthead-inner,.alchemy .footer-inner,.alchemy .content-inner {
  max-width: 990px;
  min-width: 800px;
  margin-left: auto ;
  margin-right: auto ;
  padding-left: 20px;
  padding-right: 20px;
}

/**

  MASTHEAD

*/
.alchemy .masthead h2 .edit-icon {
  display: inline-block;
  height: 50px;
}

.alchemy .masthead a .masthead-image img {
  float: right;
  -webkit-box-shadow:  0px 5px 20px 5px rgba(0, 0, 0, .2);
  box-shadow:  0px 5px 20px 5px rgba(0, 0, 0, .2);
}

/**

  FOOTER

*/

.alchemy footer {
}

.alchemy .footer-split {
  height: 40px;
  width: 60%;
  float: left;
  display: inline-block;
}

.alchemy .footer-inner {
  font-size: .75em;
  margin-top: 40px;
  margin-bottom: 60px;
}

.alchemy .footer-inner ul {
  width: 60%;
  float: left;
  display: inline-block;
}

.alchemy .footer-inner li {
  float: left;
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
}

/**

  CONTENT

*/

.alchemy .content {
  min-height: 300px;
}


.alchemy .content, .alchemy header, .alchemy footer, .alchemy nav, .alchemy h1, .alchemy h2, .alchemy h3 {
  margin: 0;
  padding: 0;
}

.alchemy .content-home, .alchemy .content-login, .alchemy .content-registration {
  margin: 0px;
}

.alchemy .content-inner h1, .alchemy .content-inner h2, .alchemy .content-inner h3, .alchemy .content-inner h4 {

}

.alchemy .content-inner h3 {
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.alchemy .content-inner .balance-wrapper {
  margin-top: 44px;
  width: 230px;
  margin-bottom: 20px;
  float: right;
}

.alchemy .content-inner .balance-left {
  
  text-align: left;
  width: 50%;
  float: left;
  margin-bottom: 5px;

}

.alchemy .content-inner .balance-right {

  text-align: right;
  float: right;
  margin-bottom: 5px;

}

.alchemy .content-inner .left {
  float: left;
}

.alchemy .content-inner .right {
  float: right;
}

.alchemy .content-inner-main {
  
  width: 60%;
  float: left;
  display: block;

}

.alchemy .content-inner p {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0px;
}

/**

  CONTENT / SMALL FORM WRAPPER (used for signup and login)

*/

.alchemy .content-inner .small-form-wrapper {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.alchemy .content-inner .small-form-wrapper .field-title {
  margin-top: 15px;
  margin-bottom: 2px;
}

.alchemy .content-inner .small-form-wrapper h4 {
  margin-bottom: 20px;
}

.alchemy .content-inner .small-form-wrapper hr {
  margin-top: 40px;
}

.alchemy .content-inner .small-form-wrapper .signup-step {
  display: none;
}

.alchemy .content-inner .small-form-wrapper .checkbox div {
  display: block;
  margin-left: 25px;
  margin-top: -49px;
}

.alchemy .content-inner .small-form-wrapper [type=checkbox]{
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.alchemy .content-inner .small-form-wrapper .signup-step .back-btn,.alchemy .content-inner .small-form-wrapper .signup-step .submit-paynow-btn {
  margin-right: 10px;
}

.alchemy .content-inner .small-form-wrapper .pay-module {
  width: 100%;
}

.alchemy .content-inner .content-inner-panel .small-form-wrapper input {
}

.alchemy .content-inner .small-form-wrapper .username input {
  width: 150px;
}

.alchemy .content-inner .small-form-wrapper .password input {
  width: 100px;
}

.alchemy .content-inner .small-form-wrapper .mobile-number input {
  width: 180px;
}

.alchemy .content-inner .small-form-wrapper .submit-paynow,.alchemy .content-inner .small-form-wrapper .submit-paylater {
  clear: both;
  width: 270px;
  margin-bottom: 5px;
  display: inline-block;
}

.alchemy .content-inner .small-form-wrapper .pin input {
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.alchemy .content-inner .small-form-wrapper .button {
  min-height: 18px;
}

.alchemy .content-inner .small-form-wrapper .submit-button {
  margin-top: 25px;
}

/**

  CONTENT / Overview table

*/
.alchemy .content-inner .line {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  display: none;
}

.alchemy .content-inner .c1 {
  display: block;
  float: left;
  width: 40%;
  min-height: 15px;
  padding: 15px;
  text-align: left;
}

.alchemy .content-inner .c1 .remove {
  margin-right: 6px;
  display: inline-block;
}

.alchemy .content-inner .c1 .remove img {
  margin-top: -4px;
}

.alchemy .content-inner .c1 .remove a {
  opacity: .3;
}

.alchemy .content-inner .c1 .remove a:hover {
  opacity: .6;
}

.alchemy .content-inner .c1 .admin-badge {
  margin-top: 0px;
  margin-left: 6px;
}

.alchemy .content-inner .c2 {
  width: 22%;
  min-width: 100px;
  display: block;
  float: right;
  min-height: 15px;
  padding: 15px 15px 15px 0px;
  text-align: right;
}

.alchemy .content-inner .c2 .request-payment-field {

  float: none;
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: -7px;
  text-align: right;

  height: 20px;
  width: 80px;

  padding: 5px;
  border-radius: 0px;

-webkit-box-shadow: none;
        box-shadow: none;
  background: transparent;

}

.alchemy .content-inner .c3 {
  width: 22%;
  min-width: 100px;
  display: block;
  float: right;
  min-height: 15px;
  padding: 15px 15px 15px 0px;
  text-align: right;
}

.alchemy .content-inner .c3 .payed {
  display: inline-block;
  float: right;
  width: 24px;
  height: 21px;
  margin-top: -4px;
}

.alchemy .content-inner .paynow-promt {
  clear: both;
  margin-right: 38px;
  margin-bottom: 18px;
  text-align: right;
}

.alchemy .content-inner .paynow-promt .open-payin-bt-btn, .alchemy .content-inner .paynow-promt .open-payin-dc-btn {
  margin-left: 15px;
  display: inline-block;
}

.alchemy .content-inner .paynow-wrapper {
  
  margin-left: 15px;
  margin-top: 8px;
  margin-right: 38px;
  margin-bottom: 18px;

  display: none;

  text-align: right;

  clear: both;

}


.alchemy .content-inner .paynow-wrapper hr {
 margin-bottom: 18px;
}

.alchemy .content-inner .paynow-wrapper-btns {
  clear: both;
  margin-top: 18px;
  text-align: right;
}

.alchemy .content-inner .paynow-wrapper-btns .button {
  display: inline-block;
  margin-left: 10px;
}

.alchemy .content-inner .paynow-wrapper-btns .half-button {
  min-width: 20px;
}

.alchemy .content-inner .paynow-wrapper input {
  background-color: #fff;
}

/**

  CONTENT / PAY MODULE

*/

.alchemy .content-inner .pay-module {
  display: inline-block;
  width: 300px;
  text-align: left;
}

.alchemy .content-inner .pay-module .half-column {
  width: 50%;
  float: left;
}

.alchemy .content-inner .pay-module .pay-text {
  margin-top: 4px;
  margin-bottom: 18px;
}

.alchemy .content-inner .pay-module .pay-note {
  clear: both;
  margin-top: 3px;
  margin-bottom: 4px;
}


.alchemy .content-inner .pay-module input {
  margin-top: 4px;
  margin-bottom: 18px;
  font-size: 1.1em;
}

.alchemy .content-inner .pay-module .card_name {
  clear: both;
}

.alchemy .content-inner .pay-module .card_name input, .alchemy .content-inner .pay-module .card_number input {
  width: 288px;
}

.alchemy .content-inner .pay-module .pay_amount .txt {
}

.alchemy .content-inner .pay-module .card_expiry input {
  width: 30px;
  text-align: center;
}

.alchemy .content-inner .pay-module .card_expiry {
  display: block;
  float: left;
  width: 210px;
}
.alchemy .content-inner .pay-module .pay_amount input {
  width: 100px;
  text-align: right;
}

.alchemy .content-inner .pay-module .pay_amount {
  width: 300px;
}

.alchemy .content-inner .pay-module .amount-title {
  display: block;
  float: left;
  width: 120px;
  padding-top: 12px;
}

.alchemy .content-inner .pay-module .amount-field {
  display: block;
  float: right;
  text-align: right;
  width: 180px;
}

.alchemy .content-inner .pay-module .card_csv {
  display: block;
  float: left;
  width: 80px;
}

.alchemy .content-inner .pay-module .card_csv input {
  width: 78px;
  text-align: center;
}

/**

  CONTENT / Invite Members

*/

.alchemy .content-inner .new-members {
  display: none;
  margin-left: 18px;
  margin-right: 38px;
}

.alchemy .content-inner .add-field-button {
  text-align: right;
}

.alchemy .content-inner .invite-members .text-button  {
  margin-right: 38px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: inline-block;
}

.alchemy .content-inner .invite-members .actions  {
  text-align: right;
  clear: both;
}

.alchemy .content-inner .invite-members #form-spinner {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.alchemy .content-inner .invite-members .actions .action-output  {
  
  margin-right: 10px;
  min-width: 140px;
  height: 30px;
  text-align: right;
  display: inline-block;

}

.alchemy .content-inner .invite-members .actions .button-blue  {
  margin-right: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: inline-block;
}

.alchemy .content-inner .invite-members .actions .button-light  {
  margin-right: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: inline-block;
}


.alchemy .content-inner .invite-members .new-column  {
  clear: both;
  display: none;
}

.alchemy .content-inner .invite-members .header  {
  clear: both;
}

/**

  CONTENT / Invite Members

*/

.alchemy .content-inner .invite-members .name  {
  text-align: left;
  float: left;
  width: 40%;
  margin-bottom: 8px;
}

.alchemy .content-inner .invite-members .name input {
  width: 85%;
}

.alchemy .content-inner .invite-members .email  {
  text-align: left;
  float: left;
  width: 40%;
  margin-bottom: 8px;
}

.alchemy .content-inner .invite-members .email input {
  width: 85%;
}

.alchemy .content-inner .invite-members .txt  {
  padding-top: 2px;
}

.alchemy .content-inner .invite-members .amount  {
  text-align: right;
  float: right;
  width: 20%;
  margin-bottom: 8px;
}

.alchemy .content-inner .invite-members .amount input {
  width: 60%;
  text-align: right;
  font-weight: bold;
}

/**

  CONTENT / PANEL

*/

.alchemy .content-inner-panel {
  
  float: right;
  display: block;
  width: 32%;
  padding: 0px 0px 30px 25px; 
  min-width: 255px;

}

.alchemy .content-inner-panel .activity-list {
}

.alchemy .content-inner-panel .activity-list li {
  margin-bottom: 24px;
  margin-left: 0px;
  clear: both;
  display: none;
}

.alchemy .content-inner-panel .activity-list .in .inner {
  margin-left: 18px;
  margin-right: 50px;
}

.alchemy .content-inner-panel .activity-list .out .inner {
  margin-left: 50px;
  margin-right: 18px;
}

.alchemy .content-inner-panel .activity-list .neutral .inner {
  margin-left: 18px;
  margin-right: 18px;
}

.alchemy .content-inner-panel .activity-list .inner {
  background: url('../img/activity-item-bg.png');
  height: 62px;
}

.alchemy .content-inner-panel .activity-list .inner .label {
  margin-top: 5px; 
  float: left;
  min-width: 200px;
  font-size: .9em;
}

.alchemy .content-inner-panel .activity-list .inner .user {
  font-size: .7em;
  margin-top: 10px; 
  float: left;
}

.alchemy .content-inner-panel .activity-list .inner .admin-badge {
  font-size: .4em;
  margin-left: 5px;
  margin-top: 7px;
  margin-bottom: 0;
}

.alchemy .content-inner-panel .activity-list .inner .date {
  font-size: .7em;
  margin-top: 10px; 
  float: right;
}

.alchemy .content-inner-panel .activity-list .left {
  float: left;
}

.alchemy .content-inner-panel .activity-list .right {
  float: right;
}

/**

  PAGE LOADER

*/
.main-loader {

  position: fixed;
  z-index: 999999;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

}

#main-loader-logo {

  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 70px;
  width: 200px;

}

#main-loader-spinner {

  margin-left: auto ;
  margin-right: auto ;

  display: none;

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
