/*
* Core
*/
* {
	border:0;
	margin:0;
	padding:0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
	display:block;
	font-family: Helvetica, Arial, Verdana;
	width:100%;
	height:100%;
	background: #007af3;
	

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007af3), to(#0066cb));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #007af3, #0066cb);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #007af3, #0066cb);

	/* IE 10 */
	background: -ms-linear-gradient(top, #007af3, #0066cb);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #007af3, #0066cb);
	
	font-size:1.0em;
	color:#333E44;
}
input, select, textarea, label {
	font-size:1.0em;
}
a {
	color:inherit;
	text-decoration: none;
	text-shadow:none;
	cursor:pointer;
}

ul {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

section {
	padding:0 18px;
}

.border-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.border-10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

/*
*	Mast
*/
#mast {
	position:fixed;
	background:#0045ab;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0045ab), to(#003399));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #0045ab, #003399);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #0045ab, #003399);

	/* IE 10 */
	background: -ms-linear-gradient(top, #0045ab, #003399);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #0045ab, #003399);

	width:100%;
	height:35px;
	z-index:10000;
	text-align: center;
	padding:15px 0 0 0;
	color:#fff;
}


/*
*	Navigation
*/
button,
.button {
	cursor:pointer;
	display:block;
	width:auto;
	color:#fff;
	font-size:inherit;
	padding:10px;
	max-width: 250px;
	margin: 0 auto;
	background:#2880d7;
	text-align: center;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2880d7), to(#0275c8));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #2880d7, #0275c8);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2880d7, #0275c8);

	/* IE 10 */
	background: -ms-linear-gradient(top, #2880d7, #0275c8);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #2880d7, #0275c8);

	border-top:1px solid #92c6f9;
	border-bottom:1px solid #048bc3;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-o-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-ms-box-shadow:0 2px 2px rgba(0,0,0,0.4);
}