/*common colours*/

$trans-white: rgba(255,255,255, 0.5);
$trans-black: rgba(0,0,0, 0.5);
$trans-light-black: rgba(0,0,0, 0.2);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$gradientDarkGreen: #00864f;
$gradientMidGreen: #5abd19;

$trans-light-grey: rgba(20, 20, 20, .2);
$text-grey: rgb(80,80,80);
$dark-grey: rgb(39, 38, 38);
$mid-grey: rgb(51, 51, 51);

//green
$lightgreen: #2f8d26;
$midlightgreen: #2d702d;
$midgreen: #347029;
$darkgreen: #205f35;

//footer gradient
$grad-hi-grey: rgb(0,0,0);
$grad-lo-grey: rgb(100,100,100);


.black-typo {
	color: $black;
}