/* Space out content a bit */
body {
/*  padding-top: 15px;
  padding-bottom: 15px;
*/  
}

/* Everything gets side spacing for mobile first views */
.header,
.notification,
.main,
.footer {
  padding-left: 15px;
  /*padding-right: 15px;*/
  float: left;
  width: 100%;
}

.top-margin {
  background-color: rgba(255, 255, 0, 0.1);
  height: 150px;
}

.menu-apply-expander {
  background-color: rgba(255, 255, 0, 0.5);
  height: 200px;
  display: none;
}

/* Custom page header */
.header {
  background-color: rgba(255, 0, 0, 0.1);
  /*height: 134px;*/
  margin-bottom: 15px;
  padding-right: 15px;
  width: 731px;
  /*display: block;*/
  position: fixed;
  }

.logo {
  background-color: rgba(255, 0, 0, 0.5);
  margin-top: 18px;
  width: 428px;
  height: 48px;
  float: left;
}

.profile {
  background-color: rgba(0, 0, 255, 0.5);
  margin-top: 18px;
  width: 273px;
  height: 48px;
  float: left;
}

.nav {
  background-color: rgba(0, 255, 255, 0.8);
  margin-top: 18px;
  width: 100%;
  padding-bottom: 0px;
  height: 100%;
  float: left;
}

.toolbar {
  background-color: rgba(0, 255, 0, 0.9);
  /*margin-top: 18px;*/
  background-color: #006a4d;
  width: 100%;
  height: 48px;
  float: left;
}

.menu-apply {
  background-color: rgba(0, 255, 255, 0.9);
  height: 200px;
  display: none;
  float: left;
}



.test {
  background-color: #ff0000;
  height: 100px;
  width: 100px;
  float: left;
}



.footer {
  background-color: #006a4d;
  height: 46px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 761px;
  }
}
.container-narrow > hr {
  /*margin: 30px 0;*/
}

/* Notification message */
.notification {
  background-color: #f2f2f2;
  height: 94px;
  margin-bottom: 15px;
}
.notification .btn {
  font-size: 21px;
}

.cta {
  background-color: rgba(255, 0, 255, 0.2);
  width: 680px;
  height: 100%;
  float: left;
}

#close-button {
    margin-top: 20px;
}

.main {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

}

.accounts {
  background-color: #fff;
}

.account {
  height: 107px;
  border-bottom: 1px solid #f2f2f2;
}

.actions {
  height: 107px;
  background-color: #000;
  display: none;
}

.messages {
  background-color: #fff;
  width: 343px;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}

.message {
  height: 67px;
  border-bottom: 1px solid #f2f2f2;
}

.money-managers {
  background-color: #fff;
  width: 343px;
  float: left;
  margin-top: 15px;
  height: 249px;
}

.money-manager {
  padding: 0px;
  margin: 0px;
}

.accounts h1,
.messages h1,
.money-managers h1 {
  padding: 18px;
  margin: 0px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.2em;
  color: #448bbb;
  height: 48px;
}

.apply-online {
  background-color: #fff;
  margin-top: 15px;
  height: 309px;
  float: left;
  width: 100%;
}

.apply-online h1 {
  padding: 18px;
  margin: 0px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.2em;
  color: #448bbb;
  height: 48px;
}

.apply-online-internal {
}

.footer {
  padding: 15px;
  color: #fff;
  font-size: 0.8em;
}






.overlay-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 65px;
    z-index: 1;
    background-color: rgba( 255, 0, 255, 0.1);
    display: none;
}

#search-mask,
#type2-mask
{
  margin-top: 65px;
  background-color: rgba( 0, 255, 255, 0.1);
}


.overlay-menu {
    position: fixed;
    width: 300px;
    height: 200px;
    top: 65px;
    left: 50%;
    z-index: 2;
    background-color: rgba( 0, 0, 255, 1);
    display: none;
}

#search-menu,
#type2-menu {
  background-color: rgba( 255, 0, 0, 4);
  top: 133px;
  left: 21.5%;
  width: 731px;
  height: 100px;
}

#type2-menu {
  background-color: rgba( 255, 255, 0, 6);
}

#profile-menu {
  background-color: rgba( 255, 0, 0, 1);
}






/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .notification,
  .footer {
/*    padding-left: 0;
    padding-right: 0;
*/  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .notification {
    /*border-bottom: 0;*/
  }
}