<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Alchemy{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="googlebot" content="noindex, nofollow, noarchive" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico"/>
    {% block meta %}
    {% endblock %}
    {% block css %}
    {% endblock %}
    {% block scripts_head %}
    {% endblock %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/libs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/alchemy/static/js/lib/json2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}      
</body>
</html>