<div id="alchemy-intelligent-search">
	<input class="border-r5" type="text" id="query" name="query" value="" autocomplete="off" placeholder="E.g. 'transfer 10.00'..." />	
	<div id="places-results" class="action"><ul></ul></div>
	<div id="mask"></div>
	<div id="query_utility_power" class="action">
		<img src="/personal/assets/alchemy/img/intelligent_search/gas.png" alt="" />
	</div>
	<div id="query_utility_telecomms" class="action">

	</div>
	<div id="query_transfer" class="action">
		<header>
			<h3>How much?</h3>
		</header>
	</div>
	<div id="query_change_address" class="action">
		<header>
			<h3>Your details</h3>
		</header>
		<div class="profile">
			<img src="/personal/assets/alchemy/img/intelligent_search/query_address_change_profile.png" alt="" />
			<div class="info">
				<h4>Retired teacher</h4>
				<p>Married with 3 children &amp; 2 grandchildren</p>
				<h5>Interests</h5>
				<p>Mortgages, Small businesses, mentoring, Investing savings</p>
			</div>
		</div>
		<form id="" action="#" method="post">
			<h4>Address</h4>
			<fieldset>
				<input type="text" id="first_line" name="first_line" value="" placeholder="" />
			</fieldset>
			<fieldset>
				<input type="text" id="second_line" name="second_line" value="" placeholder="" />
			</fieldset>
			<fieldset>
				<input type="text" id="city" name="city" value="" placeholder="" />
			</fieldset>
			<fieldset>
				<input type="postcode" id="postcode" name="postcode" value="" placeholder="" />
			</fieldset>
		</form>
	</div>
	<div id="query_account_balance" class="action">

	</div>
</div>
