{% extends "alchemy-base.html" %}
<title>{% block title %}Alchemy - Push Action Manager{% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="/alchemy/static/css/push.css?v={{ build_version }}" type="text/css" charset="utf-8" />
{% endblock %}
{% block scripts_head %}
<script type="text/javascript">
    var require = {
        baseUrl: "/alchemy/static/js/lib",
        waitSeconds: 15,
        urlArgs : "bust={{ build_version }}",
        deps : ['../adminpush']
    };
</script>
<script src="/alchemy/static/js/require.js"></script>
{% endblock %}
{% block content %}
<div id="admin-header">
	<header>
		<h1>{{ push_concept }}<img src="https://chart.googleapis.com/chart?cht=qr&amp;chs=100x100&amp;chl={{ push_concept }}" alt="" /></h1>
		{#
		<h2>Wi-Fi: Guestwlan, Password: UK@12345</h2>
		#}
	</header>
</div>
<div id="admin-content">
	<div class="left">
		<header>
			<h2>Push Action Examples</h2>			
		</header>
		<form method="post"	action="/alchemy/push-admin" class="hide">
			<input type="hidden" id="actioncustom" name="action" value="custom" />
			<fieldset>
				<label for="custom-title">Title</label>
				<input type="text" id="custom-title" name="title" placeholder="Title" value="" />
				<label for="custom-description">Description</label>
				<input type="text" id="custom-description" name="description" placeholder="Description" value="" />
				<label for="custom-url">Call To Action - Destination Page</label>
				<select id="custom-url" name="url">
					<option value="https://ibglxysit4s-lp.lloydstsb.co.uk/personal/a/account_overview_personal/" selected="selected">Accounts Summary</option>
					<option value="https://ibglxysit4s-lp.lloydstsb.co.uk/personal/a/mm_dashboard/">Money Managr Dashboard</option>
					<option value="https://ibglxysit4s-lp.lloydstsb.co.uk/personal/a/account_details/OWEGXWFPRK2YXBRGFC5XKV2AJKNWQAOID57GTKYEDN75P6TZOSMQ/27RCLNYHOI5YHF2JLQRUMZGLLU/">Account Detail: Classic</option>
					<option value="https://ibglxysit4s-lp.lloydstsb.co.uk/personal/a/account_details/OWEGXWFPRK2YX6VYD775FZUCZAL37LYKITIPL4QEDN75P6TZOSMQ/27RCLNYHOI5YHF2JLQRUMZGLLU/">Account Detail: Easy Saver</option>
					<option value="https://ibglxysit4s-lp.lloydstsb.co.uk/personal/a/account_details/T7YTKWDYS34IG3DFM3RTYB5XLKJNVI55MVYPT6NR5LNPW3GGPSUA/27RCLNYHOI5YHF2JLQRUMZGLLU/">Account Detail: MasterCard</option>
				</select>
			</fieldset>
			<button class="button" type="submit">Push</button>
		</form>
		<form method="post"	action="/alchemy/push-admin" class="hide">
			<input type="hidden" id="action4" name="action" value="" />
			<button class="button" type="submit">Clean Up</button>
		</form>
	</div>
	<div class="right">
		<header>
			<h2>Connected Devices</h2>
		</header>
		<ul id="connected-devices">

		</ul>
	</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}