<div id="alchemy-account-aggregation-pending" class="alchemy-dialog-outer">
	<section class="dialog">
		<header>
			<h2>Connecting Your American Express<sup>&reg;</sup> Account</h2>
		</header>
		<p>Please wait whilst we connect to your Amnerican Express<sup>&reg;</sup> account. This takes about 20 seconds.</p>
		<p>As soon as it's ready it will appear in your Accounts Summary.</p>
	</section>
	<a class="close" href="#">x</a>
</div>