<div id="alchemy-account-aggregation-login" class="alchemy-dialog-outer">
	<form id="" class="dialog" method="post" action="{{ gae_environment }}{{ alchemy.form_action }}">
		<input type="hidden" id="lbg_user_id" name="lbg_user_id" value="{{ alchemy.account.lbg_user_id }}" />
		<fieldset>
			<header>
				<h2>Connect your American Express<sup>&reg;</sup> Card</h2>
				<h3>Enter online banking details for your American Express credit card account and we will allow you to view your balance, available credit and recent transactions in Your Accounts, on the page beneath.</h3>
			</header>
		</fieldset>
		<fieldset>
			<label for="user_id">American Express User ID:</label>
			<input type="text" id="user_id" name="user_id" value="" placeholder="" />
		</fieldset>
		<fieldset>
			<label for="password">American Express Password:</label>
			<input type="password" id="password" name="password" value="" placeholder="" />
		</fieldset>
		<fieldset>
			<label for="terms">I agree to the <a href="#">Terms &amp; Conditions</a>:</label>
			<input type="checkbox" id="terms" name="terms" value="" />
		</fieldset>
		<fieldset class="cta">
			<span>Select Log in and we will connect your account straight away.</span>
			<button class="alchemy-button" type="submit">Log in to AMEX</button>
		</fieldset>
	</form>
	<a class="close" href="#">x</a>
</div>