<div id="alchemy-account-aggregation-disconnected" class="alchemy-dialog-outer">
	<section class="dialog">
		<header>
			<h2>Your American Express<sup>&reg;</sup> card has been disconnected</h2>
		</header>
		<p>We have disconnected your American Express<sup>&reg;</sup> card from Your Accounts.</p>
		<p>What did you think of this service? Please tell us by <a href="#">answering 3 simple questions</a>.</p>
	</section>
	<a class="close" href="#">x</a>
</div>