<div class="alchemy-account-aggregation-cta">
	<button class="alchemy-button" data-user-id="{% if alchemy
 %}{{ alchemy.account.lbg_user_id }}{% endif %}" data-role="init">Connect your American Express<sup>&reg;</sup> Credit Card</button>
</div>