{% if alchemy.account %}
<li class="alchemy-account-summary" id="{{ alchemy.account.card_number }}">
	{% if alchemy.account.card_member == 'MR A NOTHER' %}
	<div class="alchemy-dialog-outer">
		<div class="data-error dialog">
			<h2>Sorry, we can't connect to your American Express<sup>&reg;</sup> account at this time.</h2>
			<p>Below is a representation of the information we provide.</p>
		</div>
		<a class="close" href="#">x</a>
	</div>
	{% endif %}
	<div>
		<a name="amex"></a>
		<div class="accountDetails">
			<h2>
				<a class="viewStandingOrderJourney viewOrCancelDirecrDebitJourney makeInternationalPaymentsJourney setupStandingOrderJourney manageMyAccountsJourney" href="#amex">
					<img src="{{ alchemy.account.card_image }}" alt="{{ alchemy.account.card_name }}"/>
					{% if alchemy.account.card_member %}{{ alchemy.account.card_member }} - {% endif %}{{ alchemy.account.card_name }}
				</a>
			</h2>
			<p class="numbers wider">
				<span class="ommIcon"></span>
				<span class="sortCode"></span> 
				<span class="postit">Card Number </span>{{ alchemy.account.card_number }}
			</p>
		</div>
		<div class="balanceActionsWrapper">
			<div class="accountBalance">
				<p class="balance">
					<span class="postit">Total Balance<sup>*</sup>: </span>&pound;{{ alchemy.account.card_balance|round(2, 'common') }}<sup>*</sup><br/>					
				</p>
				<p class="accountMsg">Available Credit: &pound;{{ alchemy.account.card_credit_limit }}<sup>*</sup></p>
				<span class="timestamp"><sup>*</sup>Correct as of {{ alchemy.timestamp.strftime('%d %B %y (%I:%M %p)') }}</span>
				{# 
				<p>
					<sup>**</sup>Your Available Credit is updated in real time and reflects your current account activity. However, details in your Card Activity such as charges, payments and merchant information is only updated nightly and may not match your Available Credit.
				</p>
				<p>
					<sup>***</sup>Please note your latest transactions are not a billing statement.
				</p>
				#}
			</div>
			<div class="accountActionsWrapper">
				<ul class="accountActions">
					<li>
						<button class="alchemy-button" data-action="disconnect">Disconnect</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="miniStatementPlaceholder">
			<div class="miniStatementSlide" style="display: block;">
				<div class="miniStatementPlaceholder">
					<div class="miniStatement">
						{{ alchemy.account.latest_transactions }}
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
{% endif %}