<div id="alchemy-account-aggregation-failure" class="alchemy-dialog-outer">
	<div class="dialog">
		<h2>Sorry, there was a problem</h2>
		<h3>{{ error }}</h3>
	</div>
	<a class="close" href="#">x</a>
</div>