{% extends "alchemy-base.html" %}
<title>{% block title %}Alchemy - Push Actions{% endblock %}</title>
{% block meta %}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="Push For Web" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
{% endblock %}
{% block css %}
<link type="text/css" href="http://www.lloydstsb.com/assets/style/common/fonts.css" rel="stylesheet" />
<link type="text/css" href="/alchemy/static/css/push.css?v={{ build_version }}" charset="utf-8" rel="stylesheet" />
{% endblock %}
{% block scripts_head %}
<script src="/alchemy/static/js/lib/jquery.js"></script>
<script type="text/javascript">
    var push_token = "{{ push_token }}";
    var require = {
        baseUrl: "/alchemy/static/js/lib",
        waitSeconds: 15,
        urlArgs : "bust={{ build_version }}",
        deps : ['../apppush']
    };
</script>
<script src="/alchemy/static/js/require.js"></script>
{% endblock %}
{% block content %}
<div id="header">
	<header>
		<h1><img alt="Lloyds TSB Home" src="http://www.lloydstsb.com/assets/img/theme_colour/LTSB_logo.png" /> <span>Push Actions</span></h1>
	</header>
</div>
<div id="content">
    
    <div class="message hide" data-demo="true" id="message_3">
        <h3>Fly to Barcelona on us</h3>
        <p>
            With a Lloyds TSB Duo Avios Credit Card Account you could collect a 15,000 Avios bonus, in just 3 months – enough for a flight somewhere nice.
        </p>
        <p>
            Representative 17.9&#37; APR variable.
        </p>
        <img alt="" src="http://www.lloydstsb.com/assets/media/module-images/197x232/girl-in-bikini-with-credit-cards.png" />
        <div>
            <a href="#" class="button">Find out more</a>
        </div>
    </div>
    <div class="message hide" data-demo="true" id="message_2">
        <h3><span class="notification good">!</span><span class="title">New Account Credit</span></h3>
        <p class="description">
            You have a new credit to your <em>Classic Account</em>.
        </p>
        <p class="data">
            {{ now.strftime('%d/%m/%Y %H:%M') }} : AMAZON UK 6758 : &pound;75.00
        </p>
    </div>
    <div class="message hide" data-demo="true" id="message_1">
        <h3><span class="notification warning">!</span>New Account Debit</h3>
        <p>
            You have a new debit from your <em>Classic Account</em>.
        </p>
        <p class="data">
            {{ now.strftime('%d/%m/%Y %H:%M') }} : LTSB MORTGAGE : &pound;1000.00
        </p>        
    </div>
    <div class="message" id="normal">
        <h3>Banking choices</h3>
        <ul>
            <li><a href="#">Internet Banking</a></li>
            <li><a href="#">Mobile Banking</a></li>
            <li><a href="#">PhoneBank&reg;</a></li>
            <li><a href="#">Find a Branch</a></li>
        </ul>        
    </div>
    <div class="message hide" data-demo="true" id="custom">
        <h3><span class="notification">!</span><span class="title"></span></h3>
        <p class="description"></p>
        <p class="data"></p>
    </div>   
</div>
{% endblock %}
{% block scripts %}
{% endblock %}