<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/icons/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/icons/touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/icons/touch-icon-iphone4.png" />
<link rel="apple-touch-startup-image" href="/static/img/apple-start-up.png" />