<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Halifax Instant Tasks{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="googlebot" content="noindex, nofollow, noarchive" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/jquery.mobile.css?v={{ build_version }}" />
    <link rel="stylesheet" href="/static/css/core.css?v={{ build_version }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/ui.css?v={{ build_version }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/intro.css?v={{ build_version }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/create-task.css?v={{ build_version }}" type="text/css" charset="utf-8" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/libs/html5shiv.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "apple-meta.html" %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="/static/js/libs/jquery-1.7.min.js?v={{ build_version }}"></script>
    <script src="/static/js/libs/jquery.mobile-1.0.js?v={{ build_version }}"></script>
    <script src="/static/js/scripts.js?v={{ build_version }}"></script>
    {% block scripts %}
    {% endblock %} 
    <div id="fb-root"></div>
    <script type="text/javascript">

    window.fbAsyncInit = function() {
        FB.init({
            appId : "{{ facebook.app_id }}",
            status : true,
            cookie : true,
            xfbml : true,
            frictionlessRequests : true
        });

        FB.Canvas.setAutoGrow();
        
        RF.currentUser = "{{ current_user.key().name() }}";
        RF.view = "{{ view }}";
        FB.Event.subscribe('auth.statusChange', function(response) {
            console.log("auth.statusChange");
            console.log(response);
            if(response.status == "connected" && RF.currentUser == "") {
                console.log("RF.currentUser after response.status check: "+RF.currentUser);                                
            }
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
</script>  
</body>
</html>