<div class="create-task" id="create-task-step2" data-url="/#create-task-step2" data-role="page" data-title="Create Task" class="jq-page" data-theme="{{ ui.data.theme }}" data-transition="{{ ui.data.transition }}">
	<div id="mast">
		<a href="/#create-task-step1" data-direction="reverse" class="slide-drawer"></a>
		Set Notifications
	</div>
	<header class="summary">
		<h3>When&hellip;</h3>
		<ul>
			<li>My Current Account</li>
			<li>Has a balance {{ task.status }}{% if task.status == 'equal' %} to{% endif %} &pound;{{ task.balance }}</li>
			{% if task.date %}
			<li>
				{% if task.date_ref == 'today' %}
				Today ({{ task.date.strftime('%d %B %Y') }})
				{% endif %}
			</li>
			{% endif %}
		</ul>
	</header>
	<header>
		<h1>Then...</h1>
	</header>
	{% include "form-create-task-step2.html" %}
</div>