<div class="create-task" id="create-task-step3" data-url="/#create-task-step3" data-role="page" data-title="Create Task" class="jq-page" data-theme="{{ ui.data.theme }}" data-transition="{{ ui.data.transition }}">
	<div id="mast">
		<a href="/#create-task-step1" data-direction="reverse" class="slide-drawer"></a>
		Save Task
	</div>
	<form id="form-create-task-step3" data-ajax="false" method="post" action="/actions/save-task-step3">
		<input type="hidden" id="user_id" name="user_id" value="{{ current_user.key().name() }}" />
		<input type="hidden" id="task_id" name="task_id" value="{{ task.key().id() }}" />
		<input type="hidden" id="email" name="email" value="{{ task.notification.email }}" />
		<input type="hidden" id="text" name="text" value="{{ task.notification.text }}" />
		<input type="hidden" id="text_message" name="text_message" value="{{ task.notification.text_message }}" />
		<input type="hidden" id="phone" name="phone" value="{{ task.notification.phone|default('') }}" />
		<input type="hidden" id="facebook" name="facebook" value="{{ task.notification.facebook }}" />
		<header class="summary">
			<h3>When&hellip;</h3>
			<ul>
				<li>My Current Account</li>
				<li>Has a balance {{ task.status }}{% if task.status == 'equal' %} to{% endif %} &pound;{{ task.balance }}</li>
				<li></li>
			</ul>
		</header>
		<header class="summary">
			<h3>Then&hellip;</h3>
			{% if task.notification.text != None %}
			Text me on {{ task.notification.text }}<br/>
			{% endif %}
			{% if task.notification.email %}
			Email me at {{ task.notification.email }}<br/>
			{% endif %}
			{% if task.notification.facebook %}
			Send me a Facebook Notification<br/>
			{% endif %}
			{% if task.notification.phone %}
			Phone me on {{ task.notification.phone }}<br/>
			{% endif %}
		</header>
		<fieldset>
			<h3>Add a title</h3>
			<input type="text" id="title" name="title" value="{{ task.title|default('') }}" placeholder="My Task" maxlength="100" />
		</fieldset>
		<!--//
		<header class="active-container" data-role="fieldcontain">
			<label for="active">Active</label>
			<select name="active" id="active" data-role="slider" data-mini="true">
				<option value="True">On</option>
				<option value="False">Off</option>				
			</select> 
		</header>
		//-->
		<fieldset>
			<p>&nbsp;</p>
			<button data-role="none" class="border-5 button" type="submit" id="save">Save task</button>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</fieldset>
	</form>
</div>