<div class="create-task" id="create-task-step1" data-url="/#create-task-step1" data-role="page" data-title="Create a new task" class="jq-page" data-theme="{{ ui.data.theme }}" data-transition="{{ ui.data.transition }}">
	<div id="mast">
		<a href="#" data-rel="back" class="slide-drawer"></a>
		Create a new task
	</div>
	<header>
		<h1>When...</h1>
	</header>
	<ul class="task-list">
		<li>
			<a>My current account&hellip;
				<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" />
			</a>
			<div class="task-detail">
				{% include "form-create-task-step1.html" %}
			</div>
		</li>
		<li>
			<a>My savings account&hellip;
				<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" />
			</a>
			<div class="task-detail">
				{% include "form-dummy-savings-account.html" %}
			</div>
		</li>
		<li>
			<a>I receive a payment&hellip;
				<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" />
			</a>
			<div class="task-detail">
				{% include "form-dummy-receive-payment.html" %}
			</div>
		</li>
		<li>
			<a>I make a cash withdrawal&hellip;
				<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" />
			</a>
			<div class="task-detail">
				{% include "form-dummy-cash-withdrawal.html" %}
			</div>
		</li>
		<li>
			<a>The date is&hellip;
				<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" />
			</a>
		</li>
	</ul>
</div>