<div class="create-task" id="edit-task" data-url="/#edit-task" data-role="page" data-title="Edit Task" class="jq-page" data-theme="{{ ui.data.theme }}" data-transition="{{ ui.data.transition }}">
	<div id="mast">
		<a href="#" data-rel="back" class="slide-drawer"></a>
		Edit task &quot;{{ task.title }}&quot;
	</div>
	<header>
		<h1>When...</h1>
	</header>
	<ul class="task-list">
		<li class="active">
			<a>My current account&hellip;
				<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" />
			</a>
			<div class="task-detail">
				{% include "form-create-task-step1.html" %}
			</div>
		</li>
		<li>
			<a>My savings account&hellip;<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" /></a>
		</li>
		<li>
			<a>I receive a payment&hellip;<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" /></a>
		</li>
		<li>
			<a>I make a cash withdrawal&hellip;<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" /></a>
		</li>
		<li>
			<a>The date is&hellip;<img class="arrow-right" src="/static/img/arrow-right.png" />
				<img class="arrow-down" src="/static/img/arrow-down.png" /></a>
		</li>
	</ul>
</div>