<div id="error" data-role="popup" data-position-to="origin">
	<div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
		<h1 class="ui-title" role="heading" aria-level="1">Error</h1>
	</div>
	Sorry there was an error

	<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Cancel</span></span></a>
</div>