<form id="form-dummy-savings" data-ajax="false" method="post" action="/#">
	<fieldset>
		<select id="status" name="status" data-role="none" class="border-5">
			<option value="above"{% if task.status == 'above' %} selected="selected"{% endif %}>Has a balance above</option>
			<option value="below"{% if task.status == 'below' %} selected="selected"{% endif %}>Has a balance below</option>
		</select>
		<input type="number" class="border-5" id="balance" name="balance" placeholder="200" value="{{ task.balance }}" required />
		<select id="date_ref" name="date_ref" data-role="none" class="border-5">
			<option value="today"{% if task.date == 'today' %} selected="selected"{% endif %}>Today</option>
			<option value="first"{% if task.date == 'first' %} selected="selected"{% endif %}>First day of the month</option>
			<option value="last"{% if task.date == 'last' %} selected="selected"{% endif %}>Last day of the month</option>
		</select>	
	</fieldset>
	<fieldset>
		<button disabled style="opacity:0.3" data-role="none" class="border-5 button next" type="submit" id="save">Next</button>
	</fieldset>
</form>