<form id="form-create-task-step2" data-ajax="false" method="post" action="/actions/save-task-step2">
	<input type="hidden" id="user_id" name="user_id" value="{% if current_user %}{{ current_user.key().name() }}{% endif %}" />
	<input type="hidden" id="task_id" name="task_id" value="{% if task %}{{ task.key().id() }}{% endif %}" />
	<fieldset class="step2">
		<ul class="task-list">
			<li>
				<a href="#">Text me&hellip;</a>
				<input class="border-5" type="tel" id="text" name="text" placeholder="07000 123456" value="{% if task.notification and task.notification.text != None %}{{ task.notification.text|default('') }}{% endif %}" />
				<label for="text_message">With message</label>
				<input class="border-5" type="text" id="text_message" name="text_message" value="{% if task.notification  and task.notification.text_message != None %}{{ task.notification.text_message|default('') }}{% endif %}" />
			</li>
			<li>
				<a href="#">Email me&hellip;</a>
				<input class="border-5" data-role="none" type="email" id="email" name="email" placeholder="me@example.com" value="{% if task.notification and task.notification.email != None %}{{ task.notification.email|default('') }}{% endif %}" />
			</li>
			<li>
				<a href="#">Facebook Notification&hellip;</a>
				<p>&nbsp;</p>
				<input data-role="none" class="border-5" type="checkbox" id="facebook" name="facebook" value="True" {% if task.notification and task.notification.facebook %}checked{% endif %} size="10" />
				<label for="facebook">Notify me</label>
				<p>&nbsp;</p>
				{% if task.user and task.user.facebook_id != 'None' %}
				<button data-role="none" id="fb-connect" class="button border-5">Connect with Facebook</button>
				{% else %}
				You're connected via Facebook
				{% endif %}
				<p>&nbsp;</p>
			</li>
			<li>
				<a href="#">Phone me</a>
				<input class="border-5" data-role="none" type="tel" id="phone" name="phone" value="{% if task.notification and task.notification.phone != None %}{{ task.notification.phone|default('') }}{% endif %}" placeholder="0207 123 4567" />
			</li>
			<li>
				<a href="#">Make a payment&hellip;</a>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<button data-role="none" class="border-5 button next" type="submit" id="save">Next</button>
	</fieldset>
</form>