<form id="form-dummy-cash-withdrawal" data-ajax="false" method="post" action="/#">
	<fieldset>
		<label for="of" data-role="none">That is</label>
		<select id="of" name="of" data-role="none" class="border-5">
			<option value="">Select...</option>
			<option value="">Less than</option>
			<option value="">More than</option>			
		</select>	
		
		<label for="withdrawal" data-role="none">This amount</label>
		<input type="number" class="border-5" id="withdrawal" name="withdrawal" placeholder="200" value="" required />
		<label for="time" data-role="none">Within</label>
		<select id="time" name="time" data-role="none" class="border-5">
			<option value="">Select...</option>
			<option value="">24 hours</option>
			<option value="">48 hours</option>			
		</select>	
	</fieldset>
	<fieldset>
		<button disabled style="opacity:0.3" data-role="none" class="border-5 button next" type="submit" id="save">Next</button>
	</fieldset>
</form>