<form id="form-create-task-step1" data-ajax="false" method="post" action="/actions/save-task-step1">
	{% if current_user %}<input type="hidden" id="user_id" name="user_id" value="{{ current_user.key().name() }}" />{% endif %}
	{% if task %}
	<input type="hidden" id="task_id" name="task_id" value="{{ task.key().id() }}" />
	<input type="hidden" id="email" name="email" value="{{ task.notification.email }}" />
	<input type="hidden" id="text" name="text" value="{{ task.notification.text }}" />
	<input type="hidden" id="text_message" name="text_message" value="{{ task.notification.text_message }}" />
	<input type="hidden" id="facebook" name="facebook" value="{{ task.notification.facebook }}" />
	<input type="hidden" id="phone" name="phone" value="{{ task.notification.phone|default('') }}" />	
	{% endif %}		
	<fieldset>
		<select id="status" name="status" data-role="none" class="border-5">
			<option value="above"{% if task.status == 'above' %} selected="selected"{% endif %}>Has a balance above</option>
			<option value="below"{% if task.status == 'below' %} selected="selected"{% endif %}>Has a balance below</option>
			<option value="equal"{% if task.status == 'equal' %} selected="selected"{% endif %}>Has a balance equal to</option>
		</select>
		<input type="number" class="border-5" id="balance" name="balance" placeholder="200" value="{{ task.balance }}" required />
		<select id="date_ref" name="date_ref" data-role="none" class="border-5">
			<option value="today"{% if task.date == 'today' %} selected="selected"{% endif %}>Today</option>
			<option value="first"{% if task.date == 'first' %} selected="selected"{% endif %}>First day of the month</option>
			<option value="last"{% if task.date == 'last' %} selected="selected"{% endif %}>Last day of the month</option>
		</select>	
	</fieldset>
	<fieldset>
		<button data-role="none" class="border-5 button next" type="submit" id="save">Next</button>
	</fieldset>
</form>