<div id="mast" data-role="header">
	<a href="#" class="slide-drawer"></a>
	Manage Tasks
</div>
<div class="manage">
	<div id="task-list" data-user-id="{{ current_user.key().name() }}">	
	{% include "task-list.html" %}
	</div>
	<section>		
		<a class="border-10 button" href="#create-task-step1" id="create">Create a new task</a>
	</section>
</div>