<ul class="task-list">
	{#
	{% if current_user.current_account_balance != None %}
	<li>
		{% include "your-balance.html" %}
	</li>
	{% endif %}
	#}
{% for task in tasks %}
	<li>
		{% if not task.active %}
		<div class="inactive">!</div>
		{% endif %}
		<a data-id="{{ task.key.id }}" data-user-id="{{ current_user.key().name() }}">
			{% if task.title != None %}
			{{ task.title|safe }}
			{% else %}
				WHEN My Current Account is {{ task.status }}{% if task.status == 'equal' %} to{% endif %} &pound;{{ task.balance }}<br/>
				{% if task.notification.email != None %}
				THEN email me at {{ task.notification.email }}<br/>
				{% endif %}
				{% if task.notification.text != 'None' %}
				THEN text me at {{ task.notification.text }}<br/>
				{% endif %}
				{% if task.notification.phone != 'None' %}
				THEN phone me at {{ task.notification.phone }}<br/>
				{% endif %}
			{% endif %}
			<img class="arrow-right" src="/static/img/arrow-right.png" />
			<img class="arrow-down" src="/static/img/arrow-down.png" />
		</a>
	</li>
{% endfor %}
</ul>