<div class="create-task" id="task-details" data-url="/#task-details" data-role="page" data-title="Edit Task" class="jq-page" data-theme="{{ ui.data.theme }}" data-transition="{{ ui.data.transition }}">
	<section>

	</section>
</div>