.header-logo {

	margin-top:7px;

}

.content {

}

.bar-tab .tab-icon {

	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
	-webkit-filter: brightness(100%); 

}

.main-loader {

  position: fixed;
  z-index: 999999;

  background-color: #028f41;
  background-image: -webkit-linear-gradient(top, #028f41 0, #3cad00 100%);
  background-image: linear-gradient(to bottom, #028f41 0, #3cad00 100%);

  width: 100%;
  height: 100%;

}

#main-loader-logo {

  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 100px;

  width: 250px;

}

#main-loader-spinner {

  margin-left: auto ;
  margin-right: auto ;

  display: none;

  width: 60px;
  height: 60px;

}

.content-login,.content-registration {
	margin: 0px;
}