* {
	border:0;
	margin:0;
	padding:0;
}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	display:block;
	font-family: Helvetica, Arial, Verdana;
	width:100%;
	height:100%;
	background:#006ad3;
	background: #007af3;
	

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007af3), to(#0066cb));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #007af3, #0066cb);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #007af3, #0066cb);

	/* IE 10 */
	background: -ms-linear-gradient(top, #007af3, #0066cb);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #007af3, #0066cb);
	
	color:#fff;
	font-size:1.5em;
	text-align: center;
}

a {
	text-decoration: none;
	text-shadow:none;
	color:inherit;
	cursor:pointer;
}

ul {
	list-style-type: none;
}

h1 {
	font-weight:normal;
}

#shell {
	width:100%;
	height:100%;
}