.create-task {
	background:#e1e4e5;
}
.create-task h1 {
	background: #6599ff;
	padding:10px 18px;
}

.create-task h3 {
	font-weight:normal;
	padding:10px 18px;
}

.create-task header.summary {
	background: #e0ebff;
	color:#777;
	padding:10px 18px;
	border-bottom:1px solid #aeb0b0;
}

.create-task header.summary h3 {
	padding:10px 0;
	color:#00369c;
}
.create-task .task-detail {
	display:none;
}
.create-task form {
	width: auto;
}

.create-task form fieldset {
	padding:0 2%;
}

form#form-create-task-step2 fieldset {
	padding:0;
}

.create-task form input {
	width:90%;
}

.create-task form input#balance {
	display:block;
	width:30%;
	background:#e0ebff url("/static/img/pound.png") no-repeat 10px center;
	box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
	font-size:0.9em;
	color:#000;
	margin:0 0 20px 0;
	padding:10px 10px 10px 25px;
}

.create-task form input[type=number] {
	font-size:0.9em;
	margin:0 0 20px 0;
}

.create-task form input#email,
.create-task form input#text,
.create-task form input#text_message,
.create-task form input#title,
.create-task form input#phone {
	background:#e0ebff;
	box-shadow:inset 2px 2px 3px rgba(0,0,0,0.3);
	font-size:0.9em;
	color:#000;
	margin:0 0 20px 0;
	padding:10px;
}

.create-task form select {
	font-size:1em;
	width:95%;
	height:50px;
	margin:0 0 20px 0;
	background: #f9fbff;
	padding:10px;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9fbff), to(#b7b9bd));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f9fbff, #b7b9bd);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f9fbff, #b7b9bd);

	/* IE 10 */
	background: -ms-linear-gradient(top, #f9fbff, #b7b9bd);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #f9fbff, #b7b9bd);

	border-bottom:1px solid #9cadcb;
}


.active-container {
	background:#99cc33;
	color:#fff;
}

#create-task-step3 #active {
	width:5em;
}

#create-task-step3 #save {
	width:95%;
}

#create-task-step3 fieldset h3 {
	color: #777;
	padding:10px 0;
}

form input[type=checkbox] {
	display: inline-block;
	width:25px;
	height:25px;
	margin:0 5px 0 18px;
}
label {
	display:inline-block;
	color:#777;
	font-size:.8em!important;
}