#intro.new {
	background: url("/static/img/apple-start-up.png") no-repeat top center;
}
#intro.manage {
	background:#e1e4e5;
	min-height:460px;
}

#intro #mast .icon {
	margin:5px 0 0 0;
}

#intro header {
	margin:10px 0 50px 0;
	text-align: center;
}

#intro header p {
	padding:5px 0;
}

.username {
	font-size:0.6em;
	overflow:hidden;
}

.initial-position {
	margin-top:300px;
}