.hidden {
	display:none;
}

/*
*	Mast
*/
#mast {
	/*
	position:fixed;
	*/
	background:#0045ab;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0045ab), to(#003399));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #0045ab, #003399);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #0045ab, #003399);

	/* IE 10 */
	background: -ms-linear-gradient(top, #0045ab, #003399);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #0045ab, #003399);

	width:100%;
	height:40px;
	z-index:10000;
	text-align: center;
	padding:15px 0 0 0;
	font-size:0.8em;
}
/*
*	Data-Role: Page;
*/	
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
	
}
*[data-role=page] {
	background:#4d94db;
	text-align: left;
}

*[data-role=page] section {
	padding:0 4%;
}


/*
*	Navigation List
*/
ul.task-list {
	margin:0 0 20px 0;
}

ul.task-list li {
	display:block;
	position: relative;
}

ul.task-list li .task-detail {
	display:none;
	padding:0 0 20px 0;
}

ul.task-list li.active .task-detail {
	display:block;
}

/*
.task-list li input {
	padding:5px;
	display:none;
}
*/

ul.task-list a {
	overflow:hidden;
	display:block;
	padding:18px;
	background:#e0ebff;
	color:#777;	
	border-bottom:1px solid #aeb0b0;
}

ul.task-list li.active {
	background:#c5d9ff;
}
ul.task-list li.active a {
	background:#c5d9ff;
	border-bottom:1px solid transparent;
}

ul.task-list li .inactive {
	position: absolute;
	top:30%;
	background:red;
	width:30px;
	height:30px;
	border-radius: 30px;
	border:2px solid #fff;
	color:#fff;
	text-align: center;
	line-height: 32px;
}

.border-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.border-10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

/*
*	Back Button
*/
.back {
	position:absolute;
	left:0;
	background:#000658;
	padding:10px;
	color:#b8d4f1;
	font-size: 0.7em;
	cursor: pointer;
}


button,
.button {
	cursor:pointer;
	display:block;
	width:auto;
	color:#fff;
	font-size:inherit;
	padding:10px;
	max-width:250px;
	margin:0 auto;
	background:#2880d7;
	text-align: center;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2880d7), to(#0275c8));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #2880d7, #0275c8);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2880d7, #0275c8);

	/* IE 10 */
	background: -ms-linear-gradient(top, #2880d7, #0275c8);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #2880d7, #0275c8);

	border-top:1px solid #92c6f9;
	border-bottom:1px solid #048bc3;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-o-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-ms-box-shadow:0 2px 2px rgba(0,0,0,0.4);
}

#fb-connect {
	background:#777777;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#777777));
	  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #CCCCCC, #777777);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #CCCCCC, #777777);

	/* IE 10 */
	background: -ms-linear-gradient(top, #CCCCCC, #777777);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #CCCCCC, #777777);
	color:#fff;
	border-top:1px solid #fff;
	border-bottom:1px solid #999;
}
.next {
	width:40%!important;
}

.arrow-right {
	position:absolute;
	top:20px;
	right:10px;
	display:block;
	width:24px;
	height:24px;
}

.arrow-down {
	display:none;
	position:absolute;
	top:20px;
	right:10px;
	width:24px;
	height:24px;
}

.active .arrow-right {
	display:none;
}

.active .arrow-down {
	display:block;
}

.slide-drawer {
	position:absolute;
	left:18px;
	cursor: pointer;
	display:block;
	width:32px;
	height:29px;
	background:url("/static/img/btn-slide-drawer.png") no-repeat top left;
}