body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}


h1 {

	letter-spacing: 0.1em;
	font-family: "VAGRouThi", san-serif;
	font-weight: normal;
	font-size: 2em;
	color: $white;
	padding: 0px;
	margin: 0px;
	margin-top: .08em;

	&.centered {
		position: relative;
		margin-left: auto;
		margin-right: auto;

	}
}

h2 {

}

h3 {
	letter-spacing: 0.1em;
	font-family: "VAGRouThi", san-serif;
	font-weight: normal;
	font-size: 1.3em;
	color: $white;
	padding: 0px;
	margin: 0px;
	margin-top: .08em;
}

h4 {
	letter-spacing: 0.1em;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $white;
	padding: 0px;
	margin: 0px;
	font-size: 1em;
}

h5 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $white;
	padding: 0px;
	margin: 0px;
	font-size: 1em;
}

p {

}


