.foot {
	position: absolute;
	z-index: 9998;
	bottom: 0px;
	width: 100%;
	height: 12%;
	min-height: 50px;
	display: -webkit-box;
	display: box;
	// border-top: 1px solid $mid-grey;
	box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .1);
	-webkit-box-orient: horizontal;
	      box-orient: horizontal;	

	.inner {
		width: 100%;
		height: auto;
	}

	#triangle {
		position: absolute;
		top: -4px;
		left: 0px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-left-width: 10px;
		border-right-width: 10px;
		border-top-width: 0px;
		border-bottom-width: 10px;
		border-color: transparent transparent $mid-grey transparent;
	}
	ul.footermenu {

		position: absolute;
		display: block;
		background-color: $mid-grey;
		bottom: 0px;
		width: 100%;
		bottom: 0px;
		height: 80%;

		li {
			display: inline-block;
			width:20%;
			height: 100%;
			box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, .2);
			-webkit-box-orient: horizontal;
	      	box-orient: horizontal;
	      	padding-top: 5px;
	      	opacity: 0.4;

	      	&.active {
	      		opacity: 1;
	      	}

	      	div {
	      		position: relative;
	      		margin: 10px auto;
	      		margin-top:0px;

	      		&#iconprofile {
	    			left: 3px;
	      			@include sprite('footProfile');
	      		}

	      		&#iconabroad {

	      			@include sprite('footAbroad');
	      		}

	      		&#iconmoney {
	      			@include sprite('footMoney');
	      		}

	      		&#iconatm {
	      			@include sprite('footAtm');
	      		}

	      		&#iconcontact {
	      			@include sprite('footContact');
	      		}

	      	}

	      	h6 {
	      		display: block;
	      		text-align: center;
	      		position: relative;
	      		margin: 10px auto;
	      		margin-top: -4px;
	      		text-transform: capitalize;
	      		font-size: 0.7em;
	      	}
		}

	}

}