.logo {
    content:url(../img/header-logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    z-index: 9998;
    left:50%;
    margin-left: -74px;
    top:10px;
    height:30px;                   /* text area height */
    width:148px;                   /* text area width */
}

.logoOnly {
	@include sprite("headerOnly");
}

.clock {
	margin-left: 10px;
	margin-top: 12px;
	position: absolute;
	@include sprite("updateClockDummy");
}

.alertbut {
	margin-right: 10px;
	margin-top: 7px;
	right: 0px;
	position: absolute;
	@include sprite("alertbox");
}

#head {
	z-index: 9998;
	h1 {
		margin-top: .32em;
		font-size: 1.8em;
	}
}