.page-container {
	
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.content {
	overflow: hidden;
}

#begin {
	z-index: 9999;
}