.grid2-left {
	position: absolute;
	width: 50%;
	height: 100%;

}

.grid2-right {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	margin-left: -1px;
	// border-left: 1px solid $mid-grey;
}

.grid2-left, .grid2-right {

	.inner {
		position: absolute;
		width: auto;
		height: auto;
	}
}