body {
	margin: 0px;
	padding: 0px;
}

img {
  	margin: 0px;
  	padding: 0px;
  	border: none;
}

a {
  	cursor: pointer;
}

body, div, ul, li, a, h1, h2, h3, h4, h5, h6, p {

	/*os it only renders the forward facing side, MASSIVE Performance saver!!!  */
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;
	-moz-backface-visibility: hidden;
	-moz-perspective: 1000;
  	-ms-backface-visibility: hidden;
  	-ms-perspective: 1000;
}