.foot {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 8.5%;
	min-height: 50px;
	display: -webkit-box;
	display: box;
	background-color: $mid-grey;
	border-top: 1px solid $mid-grey;
	box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .1);
	-webkit-box-orient: horizontal;
	      box-orient: horizontal;	

	.inner {
		width: 100%;
		height: auto;
	}
	ul.footermenu {

		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		li {
			display: inline-block;
			width:20%;
			height: 100%;
			box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, .2);
			-webkit-box-orient: horizontal;
	      	box-orient: horizontal;
		}
	}

	#footprofile {
		/*sprite*/
	}
}