.logo {
    content:url(../img/header-logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    margin-left: -74px;
    top:10px;
    height:30px;                   /* text area height */
    width:148px;                   /* text area width */
}

.logoOnly {
	@include sprite("headerOnly");
}