#contact {
	
	background: #ffffff;

	ul {
		padding: 0px;
		margin: 0px;

		li {
			display: block;
			padding: 5px 20px;
			margin: 0px;
			color: $text-grey;
			border-bottom: 1px solid $trans-light-grey;

			.arrow {
				float: right;
				
				@include sprite('listArrow');
			}
		}

	}

	.title {

		padding: 20px;
		border-bottom: 1px solid $trans-light-grey;

		h1 {
			color: $black;
		}
	}

	.top-spacer {
		margin-top: 30px
	}

}