#login {
	background-color: #ffffff;

	.title-section {
		height: 50px;
		display: -webkit-box;
		display: box;	
		background-color: $darkgreen;
		// background-image: -webkit-linear-gradient(left, $darkgreen 0, $midlightgreen 100%);
		// background-image: linear-gradient(left, $darkgreen 0, $darkgreen 100%);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;

		.backBut {
			position: absolute;
			left: 20px;
			top: 18px;
			@include sprite('backToMain');
		}

		p {
			width: 100%;
			margin-top: 15px;
			text-align: center;
			font-family: "VAGRouThi", san-serif;
			font-size:1.5em;
			color: $white;
		}
	}

	.top-section {
		height: 60%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $darkgreen;
		// background-image: -webkit-linear-gradient(left, $darkgreen 0, $darkgreen 100%);
		// background-image: linear-gradient(left, $darkgreen 0, $darkgreen 100%);
		// border-top: 1px solid $trans-white;
		border-bottom: 1px solid $trans-black;
		// box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;

		.inputdiv {
			display: block;

			width: 100%;
			height: inherit;
		}


		p {
			margin-top: 10px;
			text-align: center;
			font-family: "VAGRouThi", san-serif;
			font-size:1.5em;
			color: $white;
		}

		form {
			width: 70%;
			margin: 0px auto;
			margin-top: 30px;
		}	
	}

	.logo-section {
		height: 40%;
		min-height: 60px;
		display: -webkit-box;
		display: box;
		background-color: $trans-black;
		background-image: -webkit-linear-gradient(top left, $darkgreen 0, $midlightgreen 100%);
		background-image: linear-gradient(top left, $darkgreen 0, $midlightgreen 100%);
		// border-bottom: 1px solid $trans-black;
		// box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;	

		.inner {
			position: relative;
			margin: 0px auto;
			margin-top: 65px;
			@include sprite('mainLogo');
		}	
	}

	h1 {
		position: absolute;
		font-size: 1.5em;
		top: 58px;
		right: 0px;
		text-align: right;
		padding-right: 20px;
	}

	h3 {
		position: absolute;
		top: 82px;
		right: 0px;
		font-size: 1.1em;
		text-align: right;
		padding-right: 20px;		
	}
}