#money {

	background-color: #ffffff;

	.navi-section {
		height: 5%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $trans-black;
		background-image: -webkit-linear-gradient(top left, $darkgreen 0, $midlightgreen 100%);
		background-image: linear-gradient(top left, $darkgreen 0, $midlightgreen 100%);
		// border-bottom: 1px solid $trans-black;
		// box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;	

		ul {
			width: 100%;
			margin-top: 15px;
		}
		li {
			display: inline-block;
			width: 32%;
			color: $dark-grey;
			text-align: center;

			.active {
				color: $dark-grey;
			}
		}
	}
}