.balance {



	&.mid-section {
		height: 54.5%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $white;
		background-image: -webkit-linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
		background-image: linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
		border-bottom: 1px solid $trans-white;
		box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;		
	}



}