

.content {
	
/*	background-image: -webkit-linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
	background-image: linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);*/

}

.index {

	.section-title {
		position: absolute;
		left: 20px;
		top: 20px;
	}

	.local-currency {
		position: absolute;
		right: 20px;
		bottom: 20px;
	}

	.foreign-currency {
		position: absolute;
		top:50%;
	    width:100%;
	    height:80px;
	    margin-top: -40px;
		display: -webkit-box;
		display: box;
		text-align:center;
		
		h1 {
			margin:auto;
		    line-height:80px;
		    vertical-align:middle;
	    }

	}

	&.large-section {
		height: 35%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $white;
		background-image: -webkit-linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
		background-image: linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
		border-top: 1px solid $trans-white;
		border-bottom: 1px solid $trans-white;
		box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;
	}

	&.mid-section {
		height: 31%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $white;
		background-image: -webkit-linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
		background-image: linear-gradient(top left, $gradientDarkGreen 0, $gradientMidGreen 100%);
		border-bottom: 1px solid $trans-white;
		box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;		
	}

	&.bottommid-section {
		height: 25%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $dark-grey;
		box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;		
	}

	&.bottom-section {
		height: 8.5%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $mid-grey;
		/*border-top: 1px solid $mid-grey;*/
		box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;		
	}
}

