
/*
*	Account Aggregation
*/
/*
*	Login Form View
*/
.alchemy-dialog-outer {
	position:fixed;
	top:10%;
	left:10%;
	width:60%;
	height:auto;
	padding:10px;
	background:rgba(0,0,0,0.3);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	z-index:100;
	font-size: 1.2em;
	text-align: left;
	box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-ms-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-o-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
}

.alchemy-dialog-outer .close {
	position: absolute;
	right: 0px;
	top: 0;
	color: #fff;
	background: #777;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	border: 2px solid #fff;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}

.alchemy-dialog-outer sup {
	font-size:0.5em;
}

.alchemy-dialog-outer .dialog {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background:#fff;
	color:#505050;
	padding:20px;
}

#alchemy-account-aggregation-login form fieldset {
	margin:0 0 10px 0;
}

#alchemy-account-aggregation-login form fieldset.cta span {
	display:block;
	float:left;
	margin:0 20px 0 0;
}

.alchemy-dialog-outer h2 {
	color: #00864f;
	font-size: 2.2em;
	font-weight: normal;
	margin:0;
}

#alchemy-account-aggregation-login form h3 {
	margin:10px 0 20px 0;
}

.alchemy-button {
	background:#9cd975;
	color:#fff;
	border:1px solid #6db040;
	border-radius: 5px;
	box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-ms-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-o-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);	
	text-shadow:2px 0px 4px #289901;
	padding:3px 8px 4px 8px;
	cursor:pointer;
}

.accountActions .alchemy-button {
	width:100%;
}

.alchemy-account-aggregation-cta {
	margin:20px 0 10px 32px;
}

#alchemy-account-aggregation-login form label {
	min-width:200px;
	display:block;
	float:left;
	font-weight: bold;
	line-height: 28px;
}
#alchemy-account-aggregation-login form input {
	float:left;
	padding:3px 5px;
}

#alchemy-account-aggregation-login form input[type='checkbox'] {
	margin:7px 0 0 0;	
}


/*
*	Account Summary
*/
.alchemy-account-summary {
	overflow:hidden;
}

.alchemy-account-summary .accountDetails img {
	max-width:88px;
}

.alchemy-account-summary .timestamp {
	font-size: 0.7em;
}

.alchemy-account-summary .disconnect {
	width:102px;
}

.alchemy-account-summary .data-error {
	/*
	border: 5px solid #f00;
	*/
	padding:20px;
	border-radius: 10px;
}

table.summary-recent-transactions th {
	padding: .6em 15px .6em 0;
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: left;
}
table.summary-recent-transactions .date {
	padding-left: 15px;
	font-size: 1em;
}