/*
*	Common
*/

/*
*	Make the main pageWrap content area position:relative, to accept the mask
*/
.pageWrap {
	
	position: relative;
	
}
.border-r5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#mask {
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.8);
	z-index:100;
}

/*
*	Google Places Autocomplete tweaks
*/
.pac-container {
	z-index: 1000;
}

.pac-container:after {
	content:none;
}

.pac-item {
	height:20%;
	font-size: 2em;
}

.action {
	display:none;
	position:absolute;
	background:#fff;
	z-index:100;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	-o-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.action h3 {
	background:#424040;
	color:#fff;
	padding:10px 20px;
	margin:0;
	font-size:1.5em;
	font-weight: normal;
	text-align: left;
}

.action img {
	max-width:100%;
}

#places-results {
	position: absolute;
	background: #fff;
	font-size: 1.5em;
	z-index: 1000;	
	text-align: left;
}

#places-results ul {
	margin:0;
	padding:0;
	list-style-type: none;
	width:100%;
	background:#fff;
}

#places-results ul li {
	display:block;
	padding:5px;
}

#places-results ul li:hover {
	background:#ccc;
	color:#000;
	cursor:pointer;
}

#alchemy-intelligent-search {
	display:none;
	position:absolute;
	top:0;
	left:25%;
	width:500px;
	z-index:1000;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding:30px;
	background: #02874e;
	margin:0;
	font-size: 2em;
	border:5px solid #fff;
	
}

#alchemy-intelligent-search #query {
	padding:10px;
	font-size: 1.5em;
	border:none;
	background:#fff;
	color:#777;
	margin-right:40px;
	min-width:450px;
}

#alchemy-intelligent-search input[type=text].active {
	
	color:blue;	
}

/*
*	Utility : Power
*/
#power {
	display:none;
}

/*
*	Pay / Transfer
*/
#query_transfer h2, 
#query_transfer .currency {
	display:none;
}

#query_transfer .formField {
	margin:0 0 50px 0;
	padding:0;
}

#query_transfer .amount {
	overflow:hidden;
}
#query_transfer .accounts {
	visibility:hidden;
}

#query_transfer img.to,
#query_transfer img.from {
	float:left;
	min-width:88px;
	display:none;
}

#query_transfer .value {
	background:#f1f1f1 url("/personal/assets/alchemy/img/intelligent_search/query_transfer_pound.png") no-repeat 22px center;
	padding:15px 22px 15px 42px;
	margin:0 25px;
	color:#38a82e;
	font-size:1.6em;
	max-width:130px;
	border:1px solid #eeeeee;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
}

#query_transfer .arrow {
	background:url("/personal/assets/alchemy/img/intelligent_search/query_transfer_arrow.png") no-repeat left center;
	width:88px;
	height:71px;
	float:left;
}

#query_transfer input.submit {
	width:206px;
	height:47px;
}

#query_transfer .quickTransfer {
	padding:30px 5px;
}

#query_change_address {
	position: static;
	background: transparent;
	margin-bottom:30px;
	width:auto;
	border-radius: 0 0 10px 10px;
}

#query_change_address .profile {
	background: #fff;
	padding:17px;
	border-radius: 0 0 10px 10px;
	border: 1px solid #cccccc;
	overflow: hidden;
}

#query_change_address form {
	background: #fff;
	padding:17px;
	margin:10px 0;
	border-radius: 0 0 10px 10px;
	border: 1px solid #cccccc;
}

#query_change_address form fieldset {
	margin:0 0 10px 0;
}

#query_change_address form h4 {
	margin:0 0 5px 0;
}
#query_change_address form input {
	width:100%;
}

#query_change_address img {
	float:left;
	margin:0 17px 17px 0;
}

#query_change_address .profile .info {
	
}

#query_change_address h4 {
	font-size: 1.5em;
	margin:0;
}

#query_change_address h5 {
	font-size: 1.2em;
	margin:0;
}

#query_change_address p {
	margin:0 0 5px 0;
}
/*
* 	Desktop
*/
/*
@media only screen and (min-width : 481px) {

	#alchemy-intelligent-search input[type=text] {
		padding:10px;
		font-size: 1.5em;
		border:none;
		background:#fff;
		color:#777;
		margin-right:40px;
	}
	
}
*/
/*
*	Smartphone : Portrait
*/
@media only screen and (max-width : 320px) {
	/*
	*	Hide page information
	*/
	.pageWrap,
	#footer,
	ul.abcd,
	#logo {
		display:none;
	}

	/*
	*	Responsive CSS3 Header
	*/
	.outer {
		min-width:320px;
		padding:0;
	}

	#header {
		position: relative;
		min-height: 90px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: none;
		border-radius: 0;
		background:#00864f;
		background-repeat: repeat-x;

		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 50% 0%, from(#00864f), to(#5abd19));

		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(center left, #00864f, #5abd19);

		/* Firefox 3.6+ */
		background: -moz-linear-gradient(center left, #00864f, #5abd19);

		/* IE 10 */
		background: -ms-linear-gradient(center left, #00864f, #5abd19);

		/* Opera 11.10+ */
		background: -o-linear-gradient(center left, #00864f, #5abd19);
	}

	#alchemy-intelligent-search {
		width:100%;
		text-align: center;
	}

	#alchemy-intelligent-search input[type=text] {
		padding:2%;
		font-size: 2em;
		border:none;
		background:#fff;		
		color:#777;
	}

	#mask {
		display:none;
	}
}

/*
*	Smartphone : Landscape
*/
@media only screen and (min-width : 321px) and (max-width:480px) {
	/*
	*	Hide page information
	*/
	.pageWrap,
	#footer,
	ul.abcd,
	#logo {
		display:none;
	}

	/*
	*	Responsive CSS3 Header
	*/
	.outer {
		min-width:320px;
		padding:0;
	}

	#header {
		position: relative;
		min-height: 90px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: none;
		border-radius: 0;
		background:#00864f;
		background-repeat: repeat-x;

		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 50% 0%, from(#00864f), to(#5abd19));

		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(center left, #00864f, #5abd19);

		/* Firefox 3.6+ */
		background: -moz-linear-gradient(center left, #00864f, #5abd19);

		/* IE 10 */
		background: -ms-linear-gradient(center left, #00864f, #5abd19);

		/* Opera 11.10+ */
		background: -o-linear-gradient(center left, #00864f, #5abd19);
	}

	#alchemy-intelligent-search {
		width:100%;
		text-align: center;
	}

	#alchemy-intelligent-search input[type=text] {
		padding:2%;
		font-size: 2em;
		border:none;
		background:#fff;		
		color:#777;
	}

	#mask {
		display:none;
	}
}

