#alchemy-video-media,
#alchemy-video-canvas {
	position:absolute;
	top:-10000em;
	left:-10000em;
}

.alchemy-picture-frame {
	position:fixed;
	top:50px;
	left:-10000em;
	width:auto;
	height:auto;
	padding:10px;
	background:rgba(0,0,0,0.3);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	z-index:100;
	font-size: 1.2em;
	text-align: left;
	box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-ms-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	-o-box-shadow:5px 5px 10px rgba(0,0,0,0.3);
}

.alchemy-picture-frame .close {
	position: absolute;
	right: 0px;
	top: 0;
	color: #fff;
	background: #777;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	border: 2px solid #fff;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}

#alchemy-video-portrait {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	display:none;	
}


.button-container {
	position:absolute;
	bottom:10px;
	right:10px;
	padding:10px;
	background:#fff;
	border-radius: 10px 0 10px 0;
	-webkit-border-radius: 10px 0 10px 0;
	-moz-border-radius: 10px 0 10px 0;
	-ms-border-radius: 10px 0 10px 0;
	-o-border-radius: 10px 0 10px 0;

	box-shadow:5px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 0px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:5px 0px 10px rgba(0,0,0,0.3);
	-ms-box-shadow:5px 0px 10px rgba(0,0,0,0.3);
	-o-box-shadow:5px 0px 10px rgba(0,0,0,0.3);
}

.button-container button {
	background:#9cd975;
	color:#fff;
	border:1px solid #6db040;
	border-radius: 5px;
	box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-ms-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
	-o-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);	
	text-shadow:2px 0px 4px #289901;
	padding:3px 8px 4px 8px;
	cursor:pointer;
}