/*
*	Alchemy
*	Author: Stuart Thorne, Razorfish
*	Date: 25-April-2013
*/

/*
*	Money Manager
*/
.tableWrap th {
	width: 100%;
} 
.secondary .inner {
	margin:0;
} 
.hasRaphael .ommChart, 
.ommNoTransChart {
	float:none!important;
} 
.hasRaphael .tableWrap {
	margin-left:0!important;
}
.noTransWrap {
	display:none;
}
.ommNoTransChartWrap {
	overflow:hidden;
} 
#rf-omm-chart{
	min-height:300px;
}