body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  text-align: center;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hide {
  display: none;
}
.show {
  display: block;
}
h1,
h2,
img,
p,
div {
  margin: 0;
  padding: 0;
  border: 0;
  max-width:100%;
}

ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

ul li a {
  color:#00864f;
  font-family: 'LTSB Light',Arial,Verdana,Helvetica,sans-serif;
  text-decoration: none;
}

/*
*   Admin
*/

#admin-content {
  text-align: center;
  padding:0 10px;
  overflow: hidden;
}
#admin-header {
  
  background:#4db00c;
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#4cb00d),to(#0f8e42));
  background: -webkit-linear-gradient(top,#4cb00d,#0f8e42);
  background: -moz-linear-gradient(top,#4cb00d,#0f8e42);
  background: -ms-linear-gradient(top,#4cb00d,#0f8e42);
  background: -o-linear-gradient(top,#4cb00d,#0f8e42);

  font-family: 'LTSB Light',Arial,Verdana,Helvetica,sans-serif;
  color:#fff;
  padding:10px;
  font-size: 1.5em;
  overflow: hidden;
  text-align: center;
}
#admin-content form {
  margin:0 0 20px 0;
}

#admin-content form fieldset {
  border: none;
  padding:0;
  margin:0;
  text-align: center;
}

#admin-content form fieldset input,
#admin-content form fieldset select {
  width:100%;
  padding:10px;
  border-radius: 10px;
  font-size: 1em;
  margin:0 0 20px 0;
}

#admin-content form label {
  display:block;
  text-align:left;
}

#admin-content header {
  text-align: center;
}

/*
*   For QR Code
*/
#admin-header h1 img {
  float:right;
}


#admin-content form .button  {
  width:auto;
}
#admin-content h2 {
  font-size: 2em;
  padding:10px 0;
}

#admin-content .left {
  float: left;
  margin:0 5% 0 0;
  width:30%;
}
#admin-content .right {
  float:left;
  width:65%;
}

#connected-devices li {
  position: relative;
  float:left;
  width: 75px;
  height: 75px;
  background-color:#fff;
  padding:10px;
  margin:0 30px 60px 0;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;

  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#connected-devices li .user {
  display:none;
  float:left;
  padding:0 40px 0 10px;
}
#connected-devices li .data {
  background:#999;
  z-index:-1;
  position:absolute;
  top:70px;
  left:0;
  width:75px;
  color:#fff;
  font-size: 0.7em;
  text-align: center;
  padding:5px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;

  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#connected-devices .iphone {
  background-image: url("/alchemy/static/img/apple-logo.jpg");
  background-repeat:no-repeat;
  background-position: top left;
}

#connected-devices .android {
  background-image: url("/alchemy/static/img/android-logo.jpg");
  background-repeat:no-repeat;
  background-position: top left;
}

#connected-devices .blackberry {
  background-image: url("/alchemy/static/img/blackberry-logo.jpg");
  background-repeat:no-repeat;
  background-position: top left;
}

#connected-devices .generic {
  background-image: url("/alchemy/static/img/generic.jpg");
  background-repeat:no-repeat;
  background-position: top left;
}



/*
*   Content
*/

#content {
  font-family: 'LTSB Light',Arial,Verdana,Helvetica,sans-serif;
  padding:0 10px;
}

#header {
  background:#4db00c;
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#4cb00d),to(#0f8e42));
  background: -webkit-linear-gradient(top,#4cb00d,#0f8e42);
  background: -moz-linear-gradient(top,#4cb00d,#0f8e42);
  background: -ms-linear-gradient(top,#4cb00d,#0f8e42);
  background: -o-linear-gradient(top,#4cb00d,#0f8e42);

  font-family: 'LTSB Light',Arial,Verdana,Helvetica,sans-serif;
  color:#fff;
  padding:10px;
  font-size: 1em;
  overflow: hidden;
  text-align: center;
}

#header img {
  max-width:100%;
  margin:0 0 0 50px;
}
#header span {
  display:block;
}

.message {
  position: relative;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding:20px;
  margin: 20px 0;
  overflow: hidden;
  font-size: 1em;
}

.message .close {
  position:absolute;
  right:0px;
  top:0px;
  background: #000;
  color:#fff;
  display: block;
  padding:2px 0 0 0;
  width:30px;
  height:30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.message h3 {
  color:#00864f;
  font-family: 'LTSB Light',Arial,Verdana,Helvetica,sans-serif;
  margin:0 0 10px 0;
  font-size: 1.5em;
}
.message em {
  font-weight: bold;
  font-style: normal;
}

.message p {
  width:auto;
}
.message img {
  display:block;
}
.button {
  color: #FFF;
  background-color: #4646a2;
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#4646a2),to(#292982));
  background: -webkit-linear-gradient(top,#4646a2,#292982);
  background: -moz-linear-gradient(top,#4646a2,#292982);
  background: -ms-linear-gradient(top,#4646a2,#292982);
  background: -o-linear-gradient(top,#4646a2,#292982);
  font-size: 1.4em;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  z-index: 40;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.4em;
  font-weight: normal;
  overflow: visible;
  padding: 6px 18px;
  text-decoration: none;
  width: 100%;
  margin:10px 0 0 0;
  text-align:center;
}

.notification {
  color:#fff;
  display: block;
  float:left;
  padding:5px 0 0 0;
  width:30px;
  height:30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  font-size: 0.8em;
  margin:0 10px 0 0;
}
.good {
  background-color:#4646a2;
}
.warning {
  background-color:orange;
}
.problem {
  background-color:red;
}

.data {
  margin:4px 0 0 0;
  font-family: courier;
}

#push-notifications {

}
#allow-push-notifications {
  
}