/* -----------------------------------------------------------
 * MOBILE
 * ----------------------------------------------------------- */
@media screen and (max-width: 768px) {
	
	/*
	*	Body
	*/
	body {
		min-width:100%;
		margin:0;		
	}

	/*
	*	Disable Content
	*/
	.secureMsg,
	.loggedIn,
	.secondary {
		display:none;
	}

	/*
	*	Header
	*/
	#header {
		/*
		*	Adjust existing Header style
		*/
		min-height: 40px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: none;
		border-top: 0;

		border-radius: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		
		/*
		*	Add new Header style
		*/
		background-image:none;
		background: #00864f;
		background: -webkit-gradient(linear, left, color-stop(0, #00864f), color-stop(50, #219a3b), color-stop(1, #3aaa2c));
		background: -webkit-linear-gradient(left, #00864f 0%, #219a3b 50%, #3aaa2c 100%);
		background: -moz-linear-gradient(left, #00864f 0%, #219a3b 50%, #3aaa2c 100%);
		background: -o-linear-gradient(left, #00864f 0%, #219a3b 50%, #3aaa2c 100%);
		background: -ms-linear-gradient(left, #00864f 0%, #219a3b 50%, #3aaa2c 100%);
		background: linear-gradient(to right, #00864f 0%, #219a3b 50%, #3aaa2c 100%);

	}
	#header p#logo {
		position:static;
	}
	.outer {
		max-width: 100%;
		min-width: 100%;
		padding:0;		
	}

	/*
	*	Page
	*/
	#page {
		display: block;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
		padding: 0;		
	}
	.primaryWrap {
		margin:0;
	}

	/*
	*	Login Form
	*/
	.loginActions input.submitAction {
		float:none;
		width:90%;
		height:30px;
		margin:0 0 20px 0;
		
		background:#9cd975;
		color:#fff;
		border:none;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
		-webkit-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
		-moz-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
		-ms-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);
		-o-box-shadow:inset 0px -10px 1px rgba(90,189,25,0.8), 0px 2px 4px rgba(0,0,0,0.4);	
		text-shadow:2px 0px 4px #289901;
		padding:3px 8px 4px 8px;
		cursor:pointer;
	}

	/*
	*	Accounts Summary
	*/
	.content .balanceActionsWrapper {
		float:none;
		width:100%;
	}
	.content .accountDetails, 
	.content .moreAccountDetails, 
	.content ul.miniStatement li.viewMiniStatement {
		float:none;
		width:100%;
	}

	.content .transferSlideOuter {
		width:auto;
	}
	.content .accountDetails p.numbers, 
	.content .accountDetails p.info {
		margin:0;
	}
}

/*
* MOBILE - Landscape
*/
@media screen and (min-width: 480px) and (max-width: 768px) {

}