

.alchemy-module-view {
	background-color: #e6e6e6;
	margin: 0px 5px 0 5px;
	padding: 5px;
	text-align: left;
	min-height: 287px;
	clear: both;
}

.alchemy-module-view h2 {

	font-weight: normal;
	font-size: 1.0em;
	margin: 0;
	padding: 0;

}

.alchemy-module-view .sheet-row {

	margin: 0px 5px 0px 5px;
	padding: 0px;
	border-bottom: 1px solid #cbcbcb;
	min-height: 25px;

	font-weight: normal;
	font-size: .65em;

	clear: both;

}

.alchemy-module-view .sheet-column {

	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-right: 1px solid #cbcbcb;
	display: inline-block;

}

.alchemy-module-view span {
	margin: 0px 8px 8px 8px;
	padding: 0;
}

.alchemy-module-view .noborder {
	border: none !important;
}

.alchemy-module-view .amount {
	font-weight: bold;
	text-align: right;
	color: black;
	color: #4a9c15;
}

.alchemy-module-view .name {
	font-weight: bold;
	color: #000;
}

.alchemy-module-view .pr30 {
	width: 30%;
}

.alchemy-module-view .pr40 {
	width: 39.5%;
}

.alchemy-module-view .pr50 {
	width: 49.5%;
}

.alchemy-module-view .pr15 {
	width: 15%;
}

.alchemy-module-view .pr15 {
	width: 15%;
}

.alchemy-module-view .pr10 {
	width: 10%;
}

.alchemy-module-view .pr25 {
	width: 25%;
}

.alchemy-module-view .pr20 {
	width: 20%;
}