#alert {

	overflow: hidden;
	background:none;

	#alert-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		background: rgba(0,0,0,1);
		opacity: 0.5;
	}

	#alert-messagebox {
		position: absolute;
		left: 4%;
		width: 89%;
		height: 100%;
		margin-top: 5px;
	}

	.alert-left-triangle {
		position: absolute;
		top: 2px;
		left: 0px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-left-width: 0px;
		border-right-width: 36px;
		border-top-width: 0px;
		border-bottom-width: 24px;
		border-color: transparent transparent $white transparent;
	}

	.alert-mid-triangle {
		position: absolute;
		top: 2px;
		left: 50%;
		margin-left:-18px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-left-width: 18px;
		border-right-width: 18px;
		border-top-width: 0px;
		border-bottom-width: 24px;
		border-color: transparent transparent $white transparent;
	}
	.alert-right-triangle {
		position: absolute;
		top: 2px;
		right: 0px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-left-width: 36px;
		border-right-width: 0px;
		border-top-width: 0px;
		border-bottom-width: 24px;
		border-color: transparent transparent $white transparent;
	}

	#alert-message {
		position: absolute;
		top: 16px;
		background: $white;
		width: 100%;
		min-height: 100px;
		height: auto;

		h3 {
			color: $black;
			width: 100%;
			margin: 20px;
			margin-bottom: 0px;			
		}

		p {
			width: auto;
			margin: 20px;
			margin-top: 4px;
		}
	}
}
