#main {

	background-color: #ffffff;


	.top-section {
		height: 30%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $lightgreen;
		background-image: -webkit-linear-gradient(top left, $midlightgreen 0, $midlightgreen 100%);
		background-image: linear-gradient(top left, $midlightgreen 0, $midlightgreen 100%);
		// border-top: 1px solid $trans-white;
		border-bottom: 1px solid $trans-black;
		// box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;
	}

	.bottom-section {
		height: 30%;
		min-height: 50px;
		display: -webkit-box;
		display: box;
		background-color: $trans-black;
		background-image: -webkit-linear-gradient(top left, $darkgreen 0, $midlightgreen 100%);
		background-image: linear-gradient(top left, $darkgreen 0, $midlightgreen 100%);
		border-bottom: 1px solid $trans-black;
		// box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;		
	}

	.logo-section {
		height: 40%;
		min-height: 60px;
		display: -webkit-box;
		display: box;
		background-color: $trans-black;
		background-image: -webkit-linear-gradient(top left, $midlightgreen 0, $midlightgreen 100%);
		background-image: linear-gradient(top left, $midlightgreen 0, $midlightgreen 100%);
		// border-bottom: 1px solid $trans-black;
		// box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
		-webkit-box-orient: horizontal;
		      box-orient: horizontal;	

		.inner {
			position: relative;
			margin: 0px auto;
			margin-top: 65px;
			@include sprite('mainLogo');
		}			
	}

	h1 {
		position: absolute;
		font-size: 1.5em;
		top: 58px;
		right: 0px;
		text-align: right;
		padding-right: 20px;
	}

	h3 {
		position: absolute;
		top: 82px;
		right: 0px;
		font-size: 1.1em;
		text-align: right;
		padding-right: 20px;		
	}
}