/* Loader */
.main-loader {

  position: fixed;
  z-index: 999999;

  background-color: #028f41;
  background-image: -webkit-linear-gradient(top left, #00864f 0, #5abd19 100%);
  background-image: linear-gradient(top left, #00864f 0, #5abd19 100%);

  width: 100%;
  height: 100%;

}

#main-loader-logo {

  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 100px;
  padding-top: 10px;
  width: 250px;

}

#main-loader-spinner {

  margin-left: auto ;
  margin-right: auto ;

  width: 60px;
  height: 60px;

}

/* app */

.bar-title {
  top: 0;
  min-height: 50px;
  display: -webkit-box;
  display: box;
  background-color: $lightgreen;
  background-image: -webkit-linear-gradient(top left, $lightgreen 0, $lightgreen 100%);
  background-image: linear-gradient(top left, $lightgreen 0, $lightgreen 100%);
  border-bottom: 0px solid $trans-light-grey;
  // box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}

/* Pad top/bottom of content so it doesn't hide behind .bar-title and .bar-tab.
   Note: For these to work, content must come after both bars in the markup */
.bar-title ~ .content {
  top: 50px;
}
.bar-tab ~ .content {
  bottom: 57px;
}
.bar-header-secondary ~ .content {
  top: 100px;
}/* General bar styles */

.bar-title ~ .profile {
  top: 50px;
}

.bar-tab ~ .profile {
  bottom: 57px;
}

.list {
  width: 100%;
  height: auto;
  margin-bottom: 0px;

  li {
    height: 20%;

    &.list-divider {
      padding: 20px 60px 20px 10px;
    }
  }

}

input[type="text"], input[type="password"] {
  border-radius: 7px;
}

//button restyle
a.button.button-block {
  border-radius: 7px;
  font-family: "VAGRouThi", san-serif;
  color: $white;
  padding: 12px 0 12px;
  text-shadow: 0 1px 0 $mid-grey;
  background-image: -webkit-linear-gradient(top, $dark-grey 0, $mid-grey 100%);
  background-image: linear-gradient(to bottom, $dark-grey 0%,$mid-grey 100%);
}
