body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

img {
  	margin: 0px;
  	padding: 0px;
  	border: none;
}

a {
  	cursor: pointer;
}

div {

	/*os it only renders the forward facing side, MASSIVE Performance saver!!!  */
	// -webkit-backface-visibility: hidden;
	-webkit-perspective: 200;
	// backface-visibility: hidden;
	perspective: 200;
}