.foot {
	-webkit-box-shadow: -5px 0px 10px 2px rgba(0,0,0,0.15) ;
	position: absolute;
	z-index: 9998;
	bottom: 0px;
	width: 100%;
	// height: 12%;
	height: 50pt;
	display: -webkit-box;
	display: box;
	// border-top: 1px solid $mid-grey;
	box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .1);
	-webkit-box-orient: horizontal;
	      box-orient: horizontal;	

	.inner {
		width: 100%;
		height: auto;
	}

	#triangle {
		position: absolute;
		top: -4px;
		left: 0px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-left-width: 10px;
		border-right-width: 10px;
		border-top-width: 0px;
		border-bottom-width: 10px;
		border-color: transparent transparent $mid-grey transparent;
	}
	ul.footermenu {

		position: absolute;
		display: block;
		background-color: $mid-grey;
		bottom: 0px;
		width: 100%;
		bottom: 0px;
		height: 100%;

		li {
			display: inline-block;
			width:20%;
			height: 100%;
			box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, .2);
			-webkit-box-orient: horizontal;
	      	box-orient: horizontal;
	      	padding-top: 10px;
	      	opacity: 0.4;

	      	&.active {
	      		opacity: 1;
	      	}

	      	div {
	      		position: relative;
	      		margin: 10px auto;
	      		margin-top:0px;

	      		&#iconsummary {
	    			
	      			@include sprite('footSummary');

	      		}

	      		&#iconexpenses {

	      			@include sprite('footExpenses');
	      		}

	      		&#iconaccounts {
	      			@include sprite('footAccounts');
	      		}

	      		&#iconexchange {
	      			@include sprite('footExchange');
	      		}

	      		&#iconnearby {
	      			@include sprite('footNearby');
	      		}

	      	}

	      	h6 {
	      		display: block;
	      		text-align: center;
	      		position: relative;
	      		margin: 10px auto;
	      		margin-top: -4px;
	      		text-transform: capitalize;
	      		font-size: 0.6em;
	      	}
		}

	}

}