header{
	-webkit-box-shadow: -5px 0px 10px 2px rgba(0,0,0,0.25) ;
}

.logo {
    content:url(../img/header-logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    z-index: 9998;
    left:50%;
    margin-left: -74pt;
    top:10pt;
    height:30pt;                   /* text area height */
    width:148pt;                   /* text area width */
}

.logoOnly {
	@include sprite("headerOnly");
}

.listBut {
	margin-left: 10pt;
	margin-top: 10pt;
	position: absolute;
	@include sprite("headerList");
	// @include sprite("updateClockDummy");
}

.alertbut {
	margin-right: 10pt;
	margin-top: 5pt;
	right: 0pt;
	position: absolute;
	@include sprite("alertbox");
}

#head {
	position: fixed;
	width: 100%;
	top: 0pt;
	height: 30pt;
	
	background: $mid-grey;
	h1 {
		position: absolute;
		text-align: center;
		width: 300pt;
		left: 50%;
		margin-left: -150pt;
		margin-top: .32em;
		font-size: 1.8em;
	}
}