.page-container {
	
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
}

.content {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 44pt;
	background: #205f35;

	&#content {
		top: 30pt;
		-webkit-box-shadow: -5px 0px 10px 2px rgba(0,0,0,0.15);
	}

	&#behind {
		background: #eeeeee;
		margin-bottom: 0pt;
		height: 100%;
		overflow: hidden;
		background: #353734 url(../img/dummy/right-dummy@2x.png);
		background-repeat: no-repeat;
		-webkit-background-size: 320px auto;
	}

	&#overlay {
		top: 30pt;
		background: none;
	}

	&#begin {
		margin-bottom: 0pt;
	}

	.pullRefresh {
		position: absolute;
		top: -120pt;
		left: 0pt;
		@include sprite('pullRefresh');
	}

	.dummyimg {
		    width: 320px;
			height: auto;
	}

}

.scrollable {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
}



#begin {
	z-index: 9999;
}